backup-n8n-workflows-wu3DpmHNkXSEGDWO.json
{"updatedAt":"2025-12-01T13:06:36.283Z","createdAt":"2025-11-23T04:19:38.114Z","id":"wu3DpmHNkXSEGDWO","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"71c50528-2dd7-4b23-a695-0012ab5625ab","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1456,112]},{"parameters":{"options":{}},"id":"89986148-615c-4a6b-befe-7fec51b7f971","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1264,112]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"f0908d15-c87f-4419-9663-e950d89b95d7","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1056,112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0ccd0ff9-6e1e-4b95-898e-dd322619864c","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-864,112]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/hoanle0126","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/hoanle0126/n8n-workflow-backup","mode":"url"},"filePath":"="},"id":"41a3bf7f-f216-443f-a0a8-1abdca4c1245","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-656,112],"alwaysOutputData":true,"webhookId":"05f1ce32-cca1-4d19-88b5-e4e54c6b161b","credentials":{"githubOAuth2Api":{"id":"XBhnshvGvruILQ3K","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"4be82231-6a3e-48c1-909f-1a5ea473ac4d","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-464,112]},{"parameters":{"filters":{},"requestOptions":{}},"id":"c4a82428-3a13-4af8-907a-f8a73fb1906c","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-256,112],"credentials":{"n8nApi":{"id":"yLkvRaQYhNwJ46fg","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2d23e673-f4b0-4d41-a01f-a6fb945a5635","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-64,112]},{"parameters":{"batchSize":1,"options":{}},"id":"04cf72c6-fe53-4aa5-925c-0fadd66d8cdf","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[192,112]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"573a6845-4df2-4d91-baf8-caf266e64a64","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/hoanle0126","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/hoanle0126/n8n-workflow-backup","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"602df3cf-5584-45e2-a072-1b596dbe1f60","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[640,-176],"webhookId":"6cf8b8c9-951c-4c6e-bb6d-baad32c35586","credentials":{"githubOAuth2Api":{"id":"XBhnshvGvruILQ3K","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/hoanle0126","mode":"url"},"repository":{"__rl":true,"mode":"url","value":"https://github.com/hoanle0126/n8n-workflow-backup","__regex":"https:\\/\\/(?:[^/]+)\\/(?:[-_0-9a-zA-Z]+)\\/([-_.0-9a-zA-Z]+)"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"717085d0-25c6-42e6-b601-d250283402d0","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[640,240],"webhookId":"8b3c331b-1fb3-4f5d-8ec7-236fcc50caba","credentials":{"githubOAuth2Api":{"id":"XBhnshvGvruILQ3K","name":"GitHub account 2"}}},{"parameters":{"options":{}},"id":"d670f549-7894-4c04-8b7d-083ae75d2bb7","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1472,752]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"329ecec1-1808-451e-bb93-830387af0f99","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1264,752]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"f05818ef-bd44-4a57-ba41-f1c6cb8a0330","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1072,752]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"url","value":"https://github.com/tuantn1807","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"workflow_local","mode":"list","cachedResultName":"workflow_local","cachedResultUrl":"https://github.com/tuantn1807/workflow_local"},"additionalParameters":{}},"id":"4ab722e0-2802-4f72-9570-dfc8d832b2ad","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-864,752],"alwaysOutputData":true,"webhookId":"05f1ce32-cca1-4d19-88b5-e4e54c6b161b","credentials":{"githubOAuth2Api":{"id":"pEfi4Ly1B5Z5VuJS","name":"GitHub Tuan"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9afddc5e-e25a-4496-96a5-978691f7e79a","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-672,752]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ebb13f44-5f8c-42a9-9f79-3bccd41ea895","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-464,752],"credentials":{"n8nApi":{"id":"yLkvRaQYhNwJ46fg","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"db01e0eb-84b7-4c47-99dc-a44271257bb1","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-272,752]},{"parameters":{"batchSize":1,"options":{}},"id":"201bf1b7-3ccb-4665-bb86-ca558005c30b","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-16,752]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"4eaa2e2b-b6bb-4003-a70b-34969cbad75d","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[224,672]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/hoanle0126","mode":"url"},"repository":{"__rl":true,"mode":"url","value":"https://github.com/hoanle0126/n8n-workflow-backup","__regex":"https:\\/\\/(?:[^/]+)\\/(?:[-_0-9a-zA-Z]+)\\/([-_.0-9a-zA-Z]+)"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"ce81b582-d603-4324-a04d-8fb3af9cd1a6","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[432,880],"webhookId":"8b3c331b-1fb3-4f5d-8ec7-236fcc50caba","credentials":{"githubOAuth2Api":{"id":"XBhnshvGvruILQ3K","name":"GitHub account 2"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"list","value":""},"repository":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-720,880],"id":"c78b626e-3373-4d56-b1ae-e125735185c0","name":"List files","webhookId":"c09d9d7a-1de5-42b7-b29c-a187f956cc8f","credentials":{"githubApi":{"id":"B6N9qCCdWWt66316","name":"GitHub PA Tuan"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"mode":"list","value":""},"repository":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[0,128],"id":"f009414f-b246-4ef4-bd10-f9804ee3535c","name":"Create a file","webhookId":"d94fbf5e-f96e-4647-b32c-32733dc5f2f3","credentials":{"githubOAuth2Api":{"id":"pEfi4Ly1B5Z5VuJS","name":"GitHub Tuan"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"997f1446-3cbd-4431-ae8f-f7e13c972288","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T04:19:38.114Z","createdAt":"2025-11-23T04:19:38.114Z","role":"workflow:owner","workflowId":"wu3DpmHNkXSEGDWO","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}