backup-n8n-workflows-wu3DpmHNkXSEGDWO.json
{"updatedAt":"2025-12-02T07:45:38.742Z","createdAt":"2025-11-23T04:19:38.114Z","id":"wu3DpmHNkXSEGDWO","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"d670f549-7894-4c04-8b7d-083ae75d2bb7","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1472,752]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"329ecec1-1808-451e-bb93-830387af0f99","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1264,752]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9afddc5e-e25a-4496-96a5-978691f7e79a","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-672,752]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ebb13f44-5f8c-42a9-9f79-3bccd41ea895","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-464,752],"credentials":{"n8nApi":{"id":"yLkvRaQYhNwJ46fg","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"db01e0eb-84b7-4c47-99dc-a44271257bb1","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-272,752]},{"parameters":{"batchSize":1,"options":{}},"id":"201bf1b7-3ccb-4665-bb86-ca558005c30b","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-16,752]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"4eaa2e2b-b6bb-4003-a70b-34969cbad75d","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[224,672]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"tuantn1807","mode":"name"},"repository":{"__rl":true,"value":"workflow_local","mode":"list","cachedResultName":"workflow_local","cachedResultUrl":"https://github.com/tuantn1807/workflow_local"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ce81b582-d603-4324-a04d-8fb3af9cd1a6","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[432,880],"webhookId":"8b3c331b-1fb3-4f5d-8ec7-236fcc50caba","credentials":{"githubOAuth2Api":{"id":"pEfi4Ly1B5Z5VuJS","name":"GitHub Tuan"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"tuantn1807","mode":"name"},"repository":{"__rl":true,"value":"workflow_local","mode":"list","cachedResultName":"workflow_local","cachedResultUrl":"https://github.com/tuantn1807/workflow_local"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-864,768],"id":"c78b626e-3373-4d56-b1ae-e125735185c0","name":"List files","webhookId":"c09d9d7a-1de5-42b7-b29c-a187f956cc8f","credentials":{"githubOAuth2Api":{"id":"pEfi4Ly1B5Z5VuJS","name":"GitHub Tuan"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"tuantn1807","mode":"name"},"repository":{"__rl":true,"value":"workflow_local","mode":"list","cachedResultName":"workflow_local","cachedResultUrl":"https://github.com/tuantn1807/workflow_local"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"a3e190d8-e4cd-4593-9781-d963d5de410f","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[592,448],"webhookId":"6cf8b8c9-951c-4c6e-bb6d-baad32c35586","credentials":{"githubOAuth2Api":{"id":"pEfi4Ly1B5Z5VuJS","name":"GitHub Tuan"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1712,752],"id":"9202c882-0363-457e-abcc-379fe051572d","name":"When clicking ‘Execute workflow’"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"f05818ef-bd44-4a57-ba41-f1c6cb8a0330","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1072,752]}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e6de18d-c81c-4715-838a-01e3e19e038d","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T04:19:38.114Z","createdAt":"2025-11-23T04:19:38.114Z","role":"workflow:owner","workflowId":"wu3DpmHNkXSEGDWO","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}