cào-dữ-liệu-q6SZB7o2sDo9Pf1n.json
{"updatedAt":"2026-01-04T03:31:11.793Z","createdAt":"2026-01-03T09:13:28.245Z","id":"q6SZB7o2sDo9Pf1n","name":"Cào dữ liệu","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12B4gJOycZNa7RJ7FLi_g5jfqkA01XHGJrK4WmcnZpHU","mode":"list","cachedResultName":"full_jd","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12B4gJOycZNa7RJ7FLi_g5jfqkA01XHGJrK4WmcnZpHU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18R6rfU0A1nOfrhYjsjITT5WYRgNHFD721BhsyjpPq3E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"JobID":"={{ $json.JobID }}","URL Job":"={{ $json[\"URL Job\"] }}","Job Title":"={{ $json[\"Job Title\"] }}","Name Company":"={{ $json[\"Name Company\"] }}","Company Overview":"={{ $json[\"Company Overview\"] }}","Company Size":"={{ $json[\"Company Size\"] }}","Company Address":"={{ $json[\"Company Address\"] }}","Job Description":"={{ $json[\"Job Description\"] }}","Job Requirements":"={{ $json[\"Job Requirements\"] }}","Benefits":"={{ $json.Benefits }}"},"matchingColumns":[],"schema":[{"id":"JobID","displayName":"JobID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Job","displayName":"URL Job","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name Company","displayName":"Name Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Overview","displayName":"Company Overview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Address","displayName":"Company Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Description","displayName":"Job Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Requirements","displayName":"Job Requirements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Benefits","displayName":"Benefits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1168,816],"id":"bb3718e4-0d2b-4e86-b7de-1d4f1fda843b","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"AxjQnmPi4QP4TYSC","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f2b102be-cd68-488c-b0aa-7c6c7a9cb822","name":"content","value":"={{ $json.Content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,816],"id":"c8311d14-1517-4ec3-bb75-b66ecf377d42","name":"Edit Fields1"},{"parameters":{"jsCode":"// Lấy raw output\nlet raw = $input.first().json.output;\n\n// 1️⃣ Bỏ markdown nếu có\nraw = raw\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\n// 2️⃣ Chỉ lấy phần mảng jobs\nconst jobsMatch = raw.match(/\"jobs\"\\s*:\\s*\\[(.*)/s);\nif (!jobsMatch) {\n  throw new Error(\"❌ Không tìm thấy mảng jobs\");\n}\n\nlet jobsRaw = jobsMatch[1];\n\n// 3️⃣ Cắt tới dấu ] cuối cùng\nconst lastBracket = jobsRaw.lastIndexOf(']');\nif (lastBracket === -1) {\n  throw new Error(\"❌ Không tìm thấy dấu ] kết thúc jobs\");\n}\njobsRaw = jobsRaw.slice(0, lastBracket);\n\n// 4️⃣ Tách từng job object\nconst jobStrings = jobsRaw\n  .split(/\\n\\s*},\\s*\\n/)\n  .map(j => j.trim())\n  .filter(j => j.startsWith('{'));\n\n// 5️⃣ Parse từng job – job lỗi thì bỏ\nconst jobs = [];\n\nfor (let j of jobStrings) {\n  try {\n    if (!j.endsWith('}')) j += '}';\n    const job = JSON.parse(j);\n    jobs.push(job);\n  } catch (e) {\n    // bỏ job hỏng\n  }\n}\n\n// 6️⃣ Chuẩn hoá output\nreturn jobs.map(job => ({\n  json: {\n    \"JobID\": job[\"JobID\"] ?? null,\n    \"URL Job\": job[\"URL Job\"] ?? null,\n    \"Job Title\": job[\"Job Title\"] ?? null,\n    \"Name Company\": job[\"Name Company\"] ?? null,\n    \"Company Overview\": job[\"Company Overview\"] ?? null,\n    \"Company Size\": job[\"Company Size\"] ?? null,\n    \"Company Address\": job[\"Company Address\"] ?? null,\n    \"Job Description\": job[\"Job Description\"] ?? null,\n    \"Job Requirements\": job[\"Job Requirements\"] ?? null,\n    \"Benefits\": job[\"Benefits\"] ?? null\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,816],"id":"3995aa16-3512-49f3-a3c2-3bdb323ee4f8","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,992],"id":"c1e5bf33-3e61-4edf-8a62-cd23a5dfa5b9","name":"Google Gemini Chat Model"},{"parameters":{"promptType":"define","text":"=Bạn là một AI chuyên trích xuất dữ liệu tuyển dụng từ văn bản markdown.\n\nINPUT:\n- Nội dung markdown thô tại:\n{{ $json.content }}\nNHIỆM VỤ:\n1. Quét TUẦN TỰ và TOÀN BỘ nội dung markdown, KHÔNG bỏ qua bất kỳ phần nào.\n2. TỰ ĐỘNG PHÁT HIỆN và TÁCH TẤT CẢ các job posting có thể có trong dữ liệu.\n3. KHÔNG GIỚI HẠN số lượng job – phát hiện CÀNG NHIỀU JOB CÀNG TỐT.\n\nĐỊNH NGHĨA MỘT JOB POSTING:\n- Bất kỳ đoạn nội dung nào thể hiện:\n  - Một vị trí / chức danh / role tuyển dụng\n  - Một công việc cụ thể cần tuyển\n- DÙNG MỌI DẤU HIỆU có thể:\n  - Tiêu đề (##, ###, ####)\n  - Cụm từ như: Job Title, Position, Role, We are hiring, Tuyển dụng, Hiring for, Open position\n  - Danh sách nhiều vị trí trong cùng một công ty → MỖI VỊ TRÍ LÀ 1 JOB RIÊNG\n\nQUY TẮC QUAN TRỌNG:\n- Nếu cùng công ty nhưng KHÁC Job Title → COI LÀ JOB KHÁC NHAU\n- Nếu không thấy Job Title rõ ràng nhưng có mô tả công việc → VẪN TẠO JOB\n- KHÔNG được gộp nhiều vị trí vào một job\n- KHÔNG bịa dữ liệu, KHÔNG suy đoán\n- Nếu không tìm thấy thông tin → gán null\n- Giữ NGUYÊN nội dung gốc, KHÔNG tóm tắt, KHÔNG chỉnh sửa\n- Bỏ qua nội dung không liên quan đến tuyển dụng (blog, tin tức, sự kiện...)\n\nVỚI MỖI JOB, TRÍCH XUẤT CÁC TRƯỜNG SAU:\n- JobID (tự sinh tuần tự: JOB_1, JOB_2, JOB_3, ...)\n- URL Job\n- Job Title\n- Name Company\n- Company Overview\n- Company Size\n- Company Address\n- Job Description\n- Job Requirements\n- Benefits\n\nQUY TẮC ĐẶC BIỆT:\n- Job Description: toàn bộ phần mô tả công việc liên quan đến job đó\n- Job Requirements: toàn bộ yêu cầu ứng viên (skills, experience, qualifications...)\n- Benefits: toàn bộ quyền lợi, đãi ngộ, lương thưởng, phúc lợi\n- KHÔNG bỏ trống field nếu thông tin có tồn tại trong markdown\n\nOUTPUT:\n- CHỈ trả về JSON hợp lệ\n- KHÔNG giải thích\n- KHÔNG markdown\n- KHÔNG text thừa\n\nĐỊNH DẠNG JSON BẮT BUỘC:\n\n{\n  \"total_jobs\": 0,\n  \"jobs\": [\n    {\n      \"JobID\": \"JOB_1\",\n      \"URL Job\": null,\n      \"Job Title\": null,\n      \"Name Company\": null,\n      \"Company Overview\": null,\n      \"Company Size\": null,\n      \"Company Address\": null,\n      \"Job Description\": null,\n      \"Job Requirements\": null,\n      \"Benefits\": null\n    }\n  ]\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[656,816],"id":"906a406c-e145-4b41-b104-09ed15618aa9","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"71504ca0-d857-49f0-a417-4453acafcc01","name":"Title","value":"={{ $json.data.metadata.title }}","type":"string"},{"id":"0b79132d-b449-4976-9e1d-7451d812f090","name":"Content","value":"={{ $json.data.markdown }}","type":"string"},{"id":"c49df122-12d3-4209-b55c-6ddd9cb0e658","name":"Url","value":"={{ $json.data.metadata.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,576],"id":"104d1b6e-884e-4660-8a26-e98cedd6f990","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.URL }}\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[848,576],"id":"ee677541-2403-4647-8f32-6613ad977ab8","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"180ruzL9lBG9GlpP3uo4dP-_ddYDNoALfzT18isYII00","mode":"list","cachedResultName":"db_cv","cachedResultUrl":"https://docs.google.com/spreadsheets/d/180ruzL9lBG9GlpP3uo4dP-_ddYDNoALfzT18isYII00/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":242576578,"mode":"list","cachedResultName":"cv_1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/180ruzL9lBG9GlpP3uo4dP-_ddYDNoALfzT18isYII00/edit#gid=242576578"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,576],"id":"c5e0893c-9d53-4b9e-a1c0-90c142e834a5","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"AxjQnmPi4QP4TYSC","name":"Google Sheets account"}}}],"connections":{"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e07d4ae-484f-4795-972b-eab5c64de49e","triggerCount":0,"shared":[{"updatedAt":"2026-01-03T09:13:28.245Z","createdAt":"2026-01-03T09:13:28.245Z","role":"workflow:owner","workflowId":"q6SZB7o2sDo9Pf1n","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}