dacn-D1oTi3lmnxBMpcwK.json
{"updatedAt":"2026-01-04T03:29:07.947Z","createdAt":"2025-11-23T06:32:57.030Z","id":"D1oTi3lmnxBMpcwK","name":"DACN","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"8904cc6d-ed98-4759-bd81-6341a005461a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-160],"id":"36adafde-d658-4dce-b311-b2e9bc0be07e","name":"Webhook","webhookId":"8904cc6d-ed98-4759-bd81-6341a005461a"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/768492989686800/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"={{ $json.content }}"},{"name":"access_token","value":"EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW"},{"name":"url","value":"={{ $json.image }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,-128],"id":"317aacca-d83d-4247-ae01-cb2c77f44a78","name":"HTTP Request1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[336,-272],"id":"2ac42728-235a-41aa-872b-50127eb3a88e","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"=Bạn là người bán hàng online chuyên nghiệp.\n\nDựa trên các thông tin sau:\n- Tên sản phẩm: {{ $json.body.name }}\n- Giá: {{ $json.body.price }} VNĐ\n- Giảm giá: {{ $json.body.discount }}%\n- Mô tả: {{ $json.body.description }}\n- Ảnh sản phẩm: {{ $json.body.image }}\n\nYêu cầu:\n- Viết bài đăng Facebook văn phong tự nhiên, thân thiện\n- Có icon nhẹ, không lạm dụng\n- Nêu rõ ưu điểm sản phẩm\n- Nếu giảm giá > 0 thì nhấn mạnh khuyến mãi\n- Có lời kêu gọi hành động (Inbox / Comment / Mua ngay)\n- Độ dài 5–7 dòng\n- Chỉ dùng 2–3 hashtag\n\nTrả về KẾT QUẢ DƯỚI DẠNG JSON, KHÔNG THÊM BẤT KỲ TEXT NÀO KHÁC:\n\n{\n  \"content\": \"Nội dung bài đăng Facebook\",\n  \"image\": \"{{ $json.body.image }}\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[384,-16],"id":"7e748b3a-188f-4c03-ab87-6d174f7c248c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[256,192],"id":"6d3b3c16-0224-42d3-bf0a-58c26658233e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"jsCode":"// Giả sử input của node này là items\nreturn items.map(item => {\n    // Lấy chuỗi JSON từ field 'output'\n    let raw = item.json.output;\n\n    // Loại bỏ các ```json ... ``` nếu có\n    raw = raw.replace(/```json|```/g, '').trim();\n\n    // Chuyển chuỗi thành object JSON\n    let obj;\n    try {\n        obj = JSON.parse(raw);\n    } catch (e) {\n        obj = { error: 'Invalid JSON' };\n    }\n\n    return { json: obj };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-16],"id":"24d6c2da-eb1e-4691-ba05-7a9f633f3e47","name":"Code in JavaScript"},{"parameters":{"multipleMethods":true,"path":"8904cc6d-ed98-4759-bd81-6341a005461a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,544],"id":"ab065910-dea4-4020-b3de-68c38ee2c535","name":"Webhook1","webhookId":"8904cc6d-ed98-4759-bd81-6341a005461a"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/768492989686800/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"={{ $json.content }}"},{"name":"access_token","value":"EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW"},{"name":"url","value":"={{ $json.image }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,576],"id":"7a471806-0f75-4cef-a5ac-52615840e1dd","name":"HTTP Request"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[352,432],"id":"410c6551-9aa2-4766-9ec6-bb030050b466","name":"Respond to Webhook1"},{"parameters":{"promptType":"define","text":"=Bạn là người bán hàng online chuyên nghiệp.\n\nDựa trên các thông tin sau:\n- Tên sản phẩm: {{ $json.body.name }}\n- Giá: {{ $json.body.price }} VNĐ\n- Giảm giá: {{ $json.body.discount }}%\n- Mô tả: {{ $json.body.description }}\n- Ảnh sản phẩm: {{ $json.body.image }}\n\nYêu cầu:\n- Viết bài đăng Facebook văn phong tự nhiên, thân thiện\n- Có icon nhẹ, không lạm dụng\n- Nêu rõ ưu điểm sản phẩm\n- Nếu giảm giá > 0 thì nhấn mạnh khuyến mãi\n- Có lời kêu gọi hành động (Inbox / Comment / Mua ngay)\n- Độ dài 5–7 dòng\n- Chỉ dùng 2–3 hashtag\n\nTrả về KẾT QUẢ DƯỚI DẠNG JSON, KHÔNG THÊM BẤT KỲ TEXT NÀO KHÁC:\n\n{\n  \"content\": \"Nội dung bài đăng Facebook\",\n  \"image\": \"{{ $json.body.image }}\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,688],"id":"89cf18d1-5167-44d7-a66e-fd14889579b8","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,896],"id":"23b8f921-ed91-419d-a217-734b5db372db","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"jsCode":"// Giả sử input của node này là items\nreturn items.map(item => {\n    // Lấy chuỗi JSON từ field 'output'\n    let raw = item.json.output;\n\n    // Loại bỏ các ```json ... ``` nếu có\n    raw = raw.replace(/```json|```/g, '').trim();\n\n    // Chuyển chuỗi thành object JSON\n    let obj;\n    try {\n        obj = JSON.parse(raw);\n    } catch (e) {\n        obj = { error: 'Invalid JSON' };\n    }\n\n    return { json: obj };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,688],"id":"6c89afa5-415a-44a1-8c2f-bd60561a8a53","name":"Code in JavaScript1"},{"parameters":{"projectId":"book-app-a2432-default-rtdb","operation":"get","path":"/products"},"type":"n8n-nodes-base.googleFirebaseRealtimeDatabase","typeVersion":1,"position":[1104,960],"id":"4c25eeb3-2be7-4319-90ca-3e5b6d060cae","name":"Google Cloud Realtime Database","credentials":{"googleFirebaseRealtimeDatabaseOAuth2Api":{"id":"HnLFOFkXvtKPcf0Q","name":"Google Firebase Realtime Database account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[896,976],"id":"fb5b9685-40db-47f8-9e30-6b5417698409","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU","mode":"list","cachedResultName":"Dataset","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"products\n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"product_id":"={{ $json['3b76226e-5eba-4d5f-82be-64f147150327'].id }}"},"matchingColumns":["product_id"],"schema":[{"id":"product_id","displayName":"product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category_id","displayName":"category_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"discount","displayName":"discount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quantity","displayName":"quantity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,960],"id":"c013dff5-1a43-455d-a95f-2b2a515d95f4","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"AxjQnmPi4QP4TYSC","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// input: items[0].json chứa JSON gốc\nconst inputData = items[0].json;\n\n// Chuẩn hóa sang mảng phẳng\nconst outputData = Object.values(inputData).map(product => ({\n  id: product.id,\n  name: product.name,\n  category_id: product.category_id,\n  description: product.description,\n  price: product.price,\n  discount: product.discount,\n  quantity: product.quantity,\n  image: product.image\n}));\n\n// Trả về cho node tiếp theo (Google Sheets)\nreturn outputData.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,960],"id":"ac03dc5e-49ca-45bc-9a02-4929baaa4cea","name":"Code in JavaScript2"},{"parameters":{"content":"Normalize products","height":304,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,864],"id":"4968ba4b-a5f5-4595-a293-be524aeae3c3","name":"Sticky Note"},{"parameters":{"projectId":"book-app-a2432-default-rtdb","operation":"get","path":"/categories"},"type":"n8n-nodes-base.googleFirebaseRealtimeDatabase","typeVersion":1,"position":[480,1296],"id":"a151a2a8-1db0-4275-bf71-423698741fb5","name":"Google Cloud Realtime Database1","credentials":{"googleFirebaseRealtimeDatabaseOAuth2Api":{"id":"HnLFOFkXvtKPcf0Q","name":"Google Firebase Realtime Database account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU","mode":"list","cachedResultName":"Dataset","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":494053127,"mode":"list","cachedResultName":"categories\n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WwM8VE51TlUsf08YatJPmNob-VnIErhBuUCEfA-ZGNU/edit#gid=494053127"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,1296],"id":"e478edcd-05f7-4ce4-9014-5e5528731f52","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"AxjQnmPi4QP4TYSC","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// input: items[0].json chứa JSON gốc\nconst inputData = items[0].json;\n\n// Chuẩn hóa sang mảng phẳng\nconst outputData = Object.values(inputData).map(product => ({\n  id: product.id,\n  name: product.name,\n}));\n\n// Trả về cho node tiếp theo (Google Sheets)\nreturn outputData.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1296],"id":"52cbb4da-35f3-4145-ad81-6649b1d6a635","name":"Code in JavaScript3"},{"parameters":{"content":"Normalize categories","height":304,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,1232],"id":"d7b20135-c124-489c-b4d0-91aabb046d12","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"=Bạn là trợ lý mua sắm AI cho cửa hàng.\n\nTin nhắn khách hàng:\n{{ $json.userMessage }}\n\nDanh sách sản phẩm (JSON):\n{{ JSON.stringify($json.products) }}\n\nNHIỆM VỤ:\n- Phân tích tin nhắn khách hàng\n- Chỉ sử dụng dữ liệu trong danh sách sản phẩm\n- Chọn các sản phẩm phù hợp với yêu cầu\n\nQUY TẮC BẮT BUỘC:\n1. Không được tạo sản phẩm mới\n2. Không sử dụng dữ liệu ngoài danh sách\n3. Nếu KHÔNG có sản phẩm phù hợp, trả về JSON đúng mẫu sau:\n\n{\n  \"type\": \"text\",\n  \"content\": \"Hiện tại em chỉ có thể giới thiệu các sản phẩm trong các danh mục hiện có, anh/chị có muốn em gợi ý không ạ?\"\n}\n\n4. Nếu CÓ sản phẩm phù hợp:\n   - Dùng TẤT CẢ sản phẩm phù hợp\n   - Gộp nội dung giới thiệu thành MỘT câu\n   - Ngăn cách bằng dấu phẩy\n   - Không xuống dòng, không dùng \\\\n\n\nĐỊNH DẠNG OUTPUT (BẮT BUỘC):\n- Chỉ trả về JSON hợp lệ\n- KHÔNG trả text thuần\n- KHÔNG giải thích\n\nFORMAT KẾT QUẢ:\n\n{\n  \"type\": \"product\",\n  \"text\": \"em chào anh/chị, em là trợ lý mua sắm AI ...\",\n  \"images\": [\n    \"URL_ẢNH_1\",\n    \"URL_ẢNH_2\"\n  ]\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1200,1776],"id":"fc9371ed-71b3-4d0b-b4ae-9377c6b0e035","name":"AI Agent3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1760,1760],"id":"03dcb015-d21e-4bb1-b269-90bf0ac4d17f","name":"Respond to Webhook3"},{"parameters":{"jsCode":"// Lấy item đầu tiên từ AI node\nconst item = $input.first();\nif (!item || !item.json || !item.json.output) {\n  throw new Error('AI output rỗng hoặc sai cấu trúc');\n}\n\n// AI trả output dạng string JSON → parse\nlet data;\ntry {\n  data = typeof item.json.output === 'string'\n    ? JSON.parse(item.json.output)\n    : item.json.output;\n} catch (e) {\n  throw new Error('Không parse được JSON từ AI output');\n}\n\n// Chuẩn hoá schema cuối cùng\nreturn [\n  {\n    json: {\n      type: data.type ?? 'text',\n      text: data.text ?? '',\n      images: Array.isArray(data.images) ? data.images : []\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,1840],"id":"7ae21075-4f43-4cec-9686-bbd9db7cb5f5","name":"Normalize output from AI agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-208,1840],"id":"3a65011d-6bac-4187-8b17-ed69b8414f64","name":"When chat message received","webhookId":"881c4339-88c1-472b-b317-f9c3ea529c6c"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1088,2032],"id":"ecac5898-6e7b-4f01-ae53-12f8ce12b792","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"6SYZU1R0gSxUX6XT","name":"OpenAi Tuan"}}},{"parameters":{"jsCode":"return [\n  {\n    userMessage: $json.body.message\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1920],"id":"f5eefcbb-42ad-4e2b-bdce-b264b743efb9","name":"Get user message"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,1824],"id":"0ccc5a8e-38e0-488b-a85f-fb7da57b8fd0","name":"Merge"},{"parameters":{"jsCode":"const items = $input.all();\nconst userMessage = $('Get user message').first().json.userMessage;\n\n// Map toàn bộ items → products[]\nconst products = items.map(item => {\n  const p = item.json || {};\n  return {\n    id: p.id ?? '',\n    name: p.name ?? '',\n    price: p.price ?? 0,\n    discount: p.discount ?? '',\n    quantity: p.quantity ?? 0,\n    image: p.image ?? ''\n  };\n});\n\nreturn [\n  {\n    userMessage,\n    products\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,1824],"id":"aaebb1d0-48ef-4930-b532-a1832eb91236","name":"Merge code"},{"parameters":{"projectId":"book-app-a2432-default-rtdb","operation":"get","path":"/products"},"type":"n8n-nodes-base.googleFirebaseRealtimeDatabase","typeVersion":1,"position":[288,1744],"id":"790488d9-0e11-46d9-a71d-b57609c87234","name":"Get products from Firebase","credentials":{"googleFirebaseRealtimeDatabaseOAuth2Api":{"id":"HnLFOFkXvtKPcf0Q","name":"Google Firebase Realtime Database account"}}},{"parameters":{"jsCode":"const raw = $json;\n\nif (!raw || typeof raw !== 'object') {\n  return [];\n}\n\nreturn Object.entries(raw).map(([id, product]) => ({\n  id,\n  name: product.name ?? '',\n  discount: product.discount ?? '',\n  quantity:product.quantity,\n  image:product.image,\n  price: product.price ?? 0\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1744],"id":"0e15e3db-806c-4e5d-b9e3-d395beeb9b23","name":"Normalize products from Firebase"},{"parameters":{"multipleMethods":true,"path":"55b5ca1e-e679-46bb-93e2-ac35ed11680b","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[48,1808],"id":"0500cafa-1e5e-420e-815f-6d28f8ab8c89","name":"Webhook2","webhookId":"55b5ca1e-e679-46bb-93e2-ac35ed11680b"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Cloud Realtime Database","type":"main","index":0}]]},"Google Cloud Realtime Database":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Google Cloud Realtime Database1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Normalize output from AI agent","type":"main","index":0}]]},"Normalize output from AI agent":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Merge code","type":"main","index":0}]]},"Get user message":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge code":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Get products from Firebase":{"main":[[{"node":"Normalize products from Firebase","type":"main","index":0}]]},"Normalize products from Firebase":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Webhook2":{"main":[[],[{"node":"Get products from Firebase","type":"main","index":0},{"node":"Get user message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1919f76-1c59-4413-86a1-66682f904b04","triggerCount":4,"shared":[{"updatedAt":"2025-11-23T06:32:57.030Z","createdAt":"2025-11-23T06:32:57.030Z","role":"workflow:owner","workflowId":"D1oTi3lmnxBMpcwK","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}