hoan-workflow-dpWY7hSj5msKa0Z6.json
{"updatedAt":"2025-12-06T01:07:25.167Z","createdAt":"2025-11-20T14:21:25.227Z","id":"dpWY7hSj5msKa0Z6","name":"Hoan-Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-624,1264],"id":"bb5dc4b9-f9c3-41fd-bc21-79dec676c62e","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    c.id as cart_id,\n    u.email,\n    u.first_name,\n    GROUP_CONCAT(p.name SEPARATOR ', ') as product_list\nFROM carts c\nJOIN users u ON c.user_id = u.id\nJOIN cart_product ci ON c.id = ci.cart_id\nJOIN products p ON ci.product_id = p.id\nWHERE c.flag = 0  -- (Mình đoán bạn có where clause này dựa trên ảnh)\nGROUP BY c.id, u.email, u.first_name;\n-- AND c.updated_at <= NOW() - INTERVAL 2 DAY -- Đã qua 2 ngày (48 tiếng)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-400,1264],"id":"b8ebe768-c945-48f1-8527-e9f3328bbe97","name":"Execute a SQL query","credentials":{"mySql":{"id":"1qREm3CeLE8kssyv","name":"Hoàn mysql"}}},{"parameters":{"httpMethod":"POST","path":"deploy-success","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,464],"id":"61880c05-c944-4d71-ad5c-df8ae8c52f6a","name":"Webhook","webhookId":"bec2db4f-2203-4115-ae61-1ea0c4373f8d"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,1264],"id":"c7d6a40b-2742-4d64-a9de-da02413efe38","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[48,1312],"id":"1dbeca11-d10c-4480-9da6-c5c1a00f2568"},{"parameters":{"sendTo":"={{ $('Execute a SQL query').item.json.email }}","subject":"Hasaki Clone: Bạn quên chưa thanh toán giỏ hàng nè!","message":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Đừng bỏ lỡ sản phẩm trong giỏ hàng</title>\n    <style>\n        /* Reset CSS cơ bản cho Email */\n        body { margin: 0; padding: 0; background-color: #f3f4f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }\n        table { border-collapse: collapse; width: 100%; }\n        img { display: block; border: 0; outline: none; text-decoration: none; }\n        \n        /* Mobile Responsive */\n        @media only screen and (max-width: 600px) {\n            .container { width: 100% !important; }\n            .product-img { width: 80px !important; height: 80px !important; }\n            .content-padding { padding: 20px !important; }\n        }\n    </style>\n</head>\n<body style=\"background-color: #f3f4f6; padding: 40px 0;\">\n\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\">\n                <table class=\"container\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n                    \n                    <tr>\n                        <td bgcolor=\"#32b768\" align=\"center\" style=\"padding: 20px;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">\n                                HASAKI CLONE\n                            </h1>\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td class=\"content-padding\" style=\"padding: 40px 30px;\">\n                            <h2 style=\"color: #333333; margin-top: 0; text-align: center;\">Bạn để quên đồ nè! 👀</h2>\n                            <p style=\"color: #666666; font-size: 16px; line-height: 24px; text-align: center; margin-bottom: 30px;\">\n                                Chào <strong>{{ $json.first_name }}</strong>,<br>\n                                Chúng tôi nhận thấy bạn chưa hoàn tất đơn hàng. Các sản phẩm yêu thích vẫn đang nằm trong giỏ và chờ bạn rước về đấy!\n                            </p>\n\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border: 1px solid #eeeeee; border-radius: 8px; overflow: hidden;\">\n                                \n                                <tr bgcolor=\"#f9fafb\">\n                                    <th align=\"left\" style=\"padding: 10px 15px; color: #666666; font-size: 12px; text-transform: uppercase;\">Sản phẩm</th>\n                                </tr>\n\n                                <tr>\n                                    <td style=\"padding: 15px; border-bottom: 1px solid #eeeeee;\">\n                                        <p style=\"color: #333333; font-size: 15px; font-weight: bold; margin: 0 0 5px;\">\n                                            {{ $json.product_list }} \n                                            </p>\n                                        <p style=\"color: #999999; font-size: 13px; margin: 0;\">\n                                            Các sản phẩm tuyệt vời đang chờ bạn!\n                                        </p>\n                                    </td>\n                                </tr>\n\n                            </table>\n                            <div style=\"text-align: center; margin-top: 35px;\">\n                                <a href=\"https://hasaki-clone.io.vn/cart\" style=\"background-color: #32b768; color: #ffffff; text-decoration: none; padding: 14px 30px; border-radius: 50px; font-weight: bold; font-size: 16px; display: inline-block; box-shadow: 0 4px 6px rgba(50, 183, 104, 0.3);\">\n                                    Hoàn tất đơn hàng ngay\n                                </a>\n                            </div>\n\n                            <p style=\"text-align: center; color: #999999; font-size: 13px; margin-top: 25px;\">\n                                *Giá và tình trạng còn hàng có thể thay đổi.\n                            </p>\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td bgcolor=\"#f9fafb\" style=\"padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n                            <p style=\"color: #999999; font-size: 12px; margin: 0;\">\n                                &copy; 2025 Hasaki Clone. All rights reserved.\n                            </p>\n                            <p style=\"color: #999999; font-size: 12px; margin: 5px 0 0;\">\n                                <a href=\"#\" style=\"color: #32b768; text-decoration: none;\">Hủy đăng ký</a> | \n                                <a href=\"#\" style=\"color: #32b768; text-decoration: none;\">Liên hệ hỗ trợ</a>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                </td>\n        </tr>\n    </table>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[48,1120],"id":"a1040baf-d968-41be-bf8e-4a3bac0f45ec","name":"Send a message1","webhookId":"60536ddc-90ac-475c-862a-63fc73cf5105","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE carts \nSET is_reminder_sent = 1 \nWHERE id = {{ $('Loop Over Items').item.json.cart_id }};","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[272,1120],"id":"5942c920-e7d6-484a-85ca-881cb1af84ee","name":"Execute a SQL query1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"sendTo":"hoanle0126@gmail.com","subject":"CI/CD Hoàn tất","message":"=<!DOCTYPE html> <html> <head>     <meta charset=\"utf-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>DEPLOYMENT SUCCESS</title>     <style>         /* Email Reset CSS (Inline CSS là ưu tiên) */         body { margin: 0; padding: 0; background-color: #f3f4f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }         table { border-collapse: collapse; width: 100%; }         td, th { padding: 10px; }     </style> </head> <body style=\"background-color: #f3f4f6; padding: 40px 0;\">      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">         <tr>             <td align=\"center\">                 <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">                                          <tr>                         <td bgcolor=\"#32b768\" align=\"center\" style=\"padding: 20px;\">                             <h1 style=\"color: #ffffff; margin: 0; font-size: 26px; text-transform: uppercase;\">                                 DEPLOYMENT SUCCESS                             </h1>                         </td>                     </tr>                      <tr>                         <td style=\"padding: 30px 30px 10px; text-align: center;\">                             <h2 style=\"color: #333333; margin-top: 0;\">{{ $json.body.message }}</h2>                             <p style=\"color: #666666; font-size: 15px;\">                                 Mã nguồn mới đã được triển khai lên Server thành công.                             </p>                         </td>                     </tr>                      <tr>                         <td style=\"padding: 10px 30px 30px;\">                             <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border: 1px solid #eeeeee; border-radius: 8px; font-size: 14px;\">                                 <tr>                                     <th align=\"left\" width=\"30%\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333;\">Trạng thái</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #32b768; font-weight: bold;\">Hoàn tất ✅</td>                                 </tr>                                 <tr>                                     <th align=\"left\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">Người kích hoạt</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">{{ $json.body.author }}</td>                                 </tr>                                 <tr>                                     <th align=\"left\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">Thời gian</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">{{ new Date() }}</td>                                 </tr>                             </table>                         </td>                     </tr>                      <tr>                         <td bgcolor=\"#f9fafb\" style=\"padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">                             <p style=\"color: #999999; font-size: 12px; margin: 0;\">                                 <a href=\"https://hasaki-clone.io.vn/\" style=\"color: #32b768; text-decoration: none;\">Xem website</a> |                                  <a href=\"https://github.com/hoanle0126/HasakiClone/actions\" style=\"color: #32b768; text-decoration: none;\">Xem log CI/CD</a>                             </p>                         </td>                     </tr>                 </table>             </td>         </tr>     </table>  </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-400,464],"id":"82c0b068-b61c-43bc-b9c6-8d2f274aae3b","name":"Send a message","webhookId":"d779f2e4-2543-4574-a51c-abb10f5e4df0","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $('Execute a SQL query3').item.json.email }}","subject":"Sản phẩm mới!","message":"=<!doctype html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>Sản phẩm mới vừa ra mắt - [Tên Công ty]</title>\n    \n    <style type=\"text/css\">\n        /* Reset CSS */\n        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n        img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }\n        a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }\n        \n        /* CSS Responsive cho Mobile */\n        @media screen and (max-width: 600px) {\n            .mobile-padding { padding: 10px !important; }\n            .mobile-hide { display: none !important; }\n            .content-table { width: 100% !important; max-width: 100% !important; }\n            .img-max { width: 100% !important; height: auto !important; }\n            .stack-column { display: block !important; width: 100% !important; }\n            .cta-button-td { display: block; width: 100% !important; padding-top: 20px !important; }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f6f8;\">\n\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed; background-color: #f4f6f8;\">\n    <tr>\n        <td align=\"center\" style=\"padding: 20px 10px;\">\n            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 600px;\" class=\"content-table\">\n                <tr>\n                    <td bgcolor=\"#ffffff\" align=\"center\" style=\"padding: 0; border-radius: 12px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);\">\n                        \n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-radius: 12px 12px 0 0; overflow: hidden;\">\n                            <tr>\n                                <td align=\"center\" style=\"position: relative;\">\n                                    <img src=\"https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=600&auto=format&fit=crop\" width=\"600\" style=\"display: block; width: 100%; max-width: 600px; height: auto;\" class=\"img-max\" alt=\"Sản phẩm mới ra mắt\">\n                                    \n                                    <div style=\"position: absolute; top: 15px; left: 15px; background-color: #ff4757; color: #ffffff; padding: 6px 12px; border-radius: 4px; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold;\">\n                                        NEW ARRIVAL\n                                    </div>\n                                </td>\n                            </tr>\n                        </table>\n\n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                            <tr>\n                                <td align=\"center\" style=\"padding: 30px 25px 35px 25px; font-family: Arial, sans-serif;\">\n                                    \n                                    <h1 style=\"color: #333333; font-size: 24px; font-weight: bold; margin: 0 0 10px 0;\">\n                                        🎉 Sản Phẩm Mới Vừa Về Hàng!\n                                    </h1>\n                                    \n                                    <p style=\"color: #666666; font-size: 15px; line-height: 1.6; margin: 0 0 25px 0;\">\n                                        Bộ sưu tập mới nhất đã có mặt trên kệ. Đừng bỏ lỡ cơ hội dành riêng cho bạn.\n                                    </p>\n\n                                    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin: 0 auto;\">\n                                        <tr>\n                                            <td align=\"center\" style=\"border-radius: 6px; background-color: #007bff; padding: 0;\" class=\"cta-button-td\">\n                                                <a href=\"#link-den-san-pham-moi\" target=\"_blank\" style=\"font-size: 16px; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 6px; padding: 12px 30px; border: 1px solid #007bff; display: inline-block; font-weight: bold;\">\n                                                    XEM CHI TIẾT NGAY\n                                                </a>\n                                            </td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table>\n                        \n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                            <tr>\n                                <td align=\"center\" style=\"padding: 15px 20px; border-radius: 0 0 12px 12px; background-color: #f8f8f8; font-family: Arial, sans-serif; font-size: 12px; color: #aaaaaa;\">\n                                    <p style=\"margin: 0;\">© 2025 [Tên Công ty]. Mọi quyền được bảo lưu.</p>\n                                </td>\n                            </tr>\n                        </table>\n\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>\n</table>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1632,1312],"id":"ae13a959-8f3c-4809-9534-2bf89660aacc","name":"New Products","webhookId":"feedf92d-c679-483d-b244-007ac3480cff","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"sendTo":"hoanle0126@gmail.com","subject":"Trung tâm hỗ trợ khách hàng","message":"=<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Trung Tâm Hỗ Trợ Khách Hàng</title>\n    <style>\n        /* --- CSS STYLE START --- */\n        \n        /* Cài đặt gốc */\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n            font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n        }\n\n        body {\n            background-color: #f4f6f8;\n            padding: 40px 20px;\n            line-height: 1.6;\n        }\n\n        /* CONTAINER CHÍNH */\n        .support-container {\n            max-width: 900px;\n            margin: 0 auto;\n        }\n\n        /* HEADER */\n        .support-header {\n            text-align: center;\n            margin-bottom: 40px;\n            padding: 20px;\n        }\n\n        .support-header h1 {\n            font-size: 32px;\n            color: #2f3542;\n            margin-bottom: 10px;\n            font-weight: 700;\n        }\n\n        .support-header p {\n            font-size: 16px;\n            color: #666;\n        }\n        \n        /* CARD CHUNG (FAQ và Form) */\n        .support-card {\n            background-color: #ffffff;\n            border-radius: 12px;\n            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); /* Đổ bóng nhẹ nhàng */\n            padding: 30px;\n            margin-bottom: 30px;\n        }\n\n        /* SEARCH BAR */\n        .search-box {\n            display: flex;\n            margin-bottom: 30px;\n        }\n\n        .search-box input {\n            flex-grow: 1;\n            padding: 12px 15px;\n            border: 1px solid #ced4da;\n            border-right: none;\n            border-radius: 6px 0 0 6px;\n            font-size: 16px;\n        }\n\n        .search-box button {\n            padding: 12px 25px;\n            background-color: #007bff; /* Màu chủ đạo */\n            color: white;\n            border: none;\n            border-radius: 0 6px 6px 0;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: background-color 0.2s;\n        }\n\n        .search-box button:hover {\n            background-color: #0056b3;\n        }\n        \n        /* FAQ ACCORDION (Dùng thẻ details/summary) */\n        .faq-section h2 {\n            font-size: 24px;\n            color: #2f3542;\n            margin-bottom: 20px;\n            text-align: center;\n            font-weight: 600;\n        }\n\n        details {\n            border: 1px solid #e9ecef;\n            border-radius: 8px;\n            margin-bottom: 10px;\n            transition: all 0.2s ease;\n        }\n        \n        details[open] {\n            background-color: #f7f9fc; /* Nền nhẹ khi mở */\n            box-shadow: 0 0 10px rgba(0, 123, 255, 0.05);\n        }\n\n        summary {\n            padding: 15px;\n            font-weight: 600;\n            font-size: 16px;\n            color: #333;\n            cursor: pointer;\n            list-style: none; /* Ẩn dấu mũi tên mặc định */\n            display: flex;\n            align-items: center;\n        }\n\n        summary::-webkit-details-marker {\n            display: none;\n        }\n        \n        summary::after {\n            content: '+';\n            font-size: 24px;\n            color: #007bff;\n            margin-left: auto;\n            transition: transform 0.2s;\n        }\n        \n        details[open] summary::after {\n            content: '-';\n            transform: rotate(180deg);\n        }\n\n        .faq-answer {\n            padding: 15px;\n            padding-top: 0;\n            font-size: 14px;\n            color: #555;\n            border-top: 1px solid #e9ecef;\n        }\n        \n        /* CONTACT FORM */\n        .contact-section h2 {\n            font-size: 20px;\n            color: #2f3542;\n            margin-bottom: 20px;\n            font-weight: 600;\n            text-align: center;\n        }\n        \n        .form-group {\n            margin-bottom: 15px;\n        }\n\n        .form-group label {\n            display: block;\n            margin-bottom: 5px;\n            font-weight: 600;\n            font-size: 14px;\n            color: #444;\n        }\n        \n        .form-group input, .form-group textarea {\n            width: 100%;\n            padding: 10px;\n            border: 1px solid #ced4da;\n            border-radius: 6px;\n            font-size: 16px;\n            transition: border-color 0.2s, box-shadow 0.2s;\n        }\n\n        .form-group input:focus, .form-group textarea:focus {\n            border-color: #007bff;\n            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);\n            outline: none;\n        }\n\n        .form-group textarea {\n            resize: vertical;\n            min-height: 120px;\n        }\n\n        /* Nút Gửi */\n        .submit-btn {\n            display: block;\n            width: 100%;\n            padding: 12px;\n            background-color: #28a745; /* Màu xanh lá nổi bật cho nút gửi */\n            color: white;\n            border: none;\n            border-radius: 6px;\n            font-size: 18px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: background-color 0.2s, transform 0.1s;\n        }\n\n        .submit-btn:hover {\n            background-color: #1e7e34;\n            transform: translateY(-1px);\n        }\n        \n        /* Responsive */\n        @media (max-width: 600px) {\n            .support-header h1 {\n                font-size: 26px;\n            }\n            .support-card {\n                padding: 20px;\n            }\n        }\n        /* --- CSS STYLE END --- */\n    </style>\n</head>\n<body>\n\n    <div class=\"support-container\">\n        \n        <header class=\"support-header\">\n            <h1>Trung Tâm Hỗ Trợ Khách Hàng</h1>\n            <p>Chúng tôi luôn sẵn lòng giải đáp mọi thắc mắc của bạn.</p>\n        </header>\n        \n        <div class=\"support-card faq-section\">\n            {{ $json.message }}\n        </div>\n        \n    </div>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1744,896],"id":"aa5e9cf0-7f65-407a-b779-470d5b1bad5f","name":"Send a message2","webhookId":"b26a6080-534c-41ab-8ec1-3b804b27da56","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1232,1120],"id":"6e1b3949-89e9-468b-8b60-9e1064ddb635","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"GdEPn4m9ziudLImC","name":"Hoàn Gemini"}}},{"parameters":{"promptType":"define","text":"=\"Khách hàng tên {{ $json.body.name }} sao với nội dung: '{{ $json.body.message }}'. Hãy viết câu trả lời.\"","options":{"systemMessage":"Bạn là nhân viên CSKH của Hasaki. Hãy viết một câu trả lời giải đáp thắc mắc cho khách hàng, lịch sự và thân thiện cho khách hàng. Luôn bắt đầu với \"Hasaki xin chào!\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1168,896],"id":"9a990c3d-0e47-475c-8c1b-5a79f0aa31b7","name":"AI Agent"},{"parameters":{"jsCode":"function convertNewlineToBr(text) {\n    if (!text) return '';\n    return text.replace(/\\n/g, '<br>');\n}\nreturn {\n  message: convertNewlineToBr($input.first().json.output)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,896],"id":"fcb97e3e-58e6-4ac3-849e-766b274eff82","name":"Code in JavaScript"},{"parameters":{"httpMethod":"POST","path":"ai-review-reply","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[944,896],"id":"2b3d0643-351a-4a2a-b1b6-b952264bad07","name":"Auto Reply Contact","webhookId":"2041b4d3-cbbd-4699-8e9d-4d68295af432"},{"parameters":{"sendTo":"hoanle0126@gmail.com","subject":"Success","emailType":"text","message":"=Success","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,800],"id":"1722d52f-3df8-4f1f-acb2-b13ac6529811","name":"Send a message3","webhookId":"b26a6080-534c-41ab-8ec1-3b804b27da56","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,1024],"id":"dd8e0219-8a95-494f-95f1-f727f3744554","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"GdEPn4m9ziudLImC","name":"Hoàn Gemini"}}},{"parameters":{"promptType":"define","text":"=\"Khách hàng tên {{ $json.body.user.first_name }} đánh giá {{ $json.body.rating }} sao với nội dung: '{{ $json.body.description }}'. Hãy viết câu trả lời.\"","options":{"systemMessage":"Bạn là nhân viên CSKH của Hasaki. Hãy viết một câu trả lời đánh giá cho khách hàng, lịch sự và thân thiện cho khách hàng. Luôn bắt đầu với \"Hasaki xin chào!\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-400,800],"id":"9da02ba0-5a30-4db6-97ed-a7046c90f190","name":"AI Agent1"},{"parameters":{"method":"POST","url":"https://api.hasaki-clone.io.vn/api/reviews/ai-reply","sendBody":true,"bodyParameters":{"parameters":[{"name":"=review_id","value":"={{ $('Auto Reply Contact2').item.json.body.review_id }}"},{"name":"product_id","value":"={{ $('Auto Reply Contact2').item.json.body.product_id }}"},{"name":"reply_content","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,800],"id":"5529505c-12f9-4c7e-941e-f7ecbd728429","name":"HTTP Request1","alwaysOutputData":false},{"parameters":{"jsCode":"function convertNewlineToBr(text) {\n    if (!text) return '';\n    return text.replace(/\\n/g, ' ');\n}\nreturn {\n  message: convertNewlineToBr($input.first().json.output)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,800],"id":"5bb5fc71-c1c3-4e37-8d0e-f00d413d069a","name":"Code in JavaScript1"},{"parameters":{"httpMethod":"POST","path":"auto-reply","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,800],"id":"e8e0aa3d-708b-4a1d-8a3c-2e102ce07806","name":"Auto Reply Contact2","webhookId":"2041b4d3-cbbd-4699-8e9d-4d68295af432"},{"parameters":{"operation":"executeQuery","query":"select * from users;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1184,1456],"id":"07fc3ef1-f259-4697-aaf6-36ecb1a57b14","name":"Execute a SQL query3","credentials":{"mySql":{"id":"1qREm3CeLE8kssyv","name":"Hoàn mysql"}}},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1408,1456],"id":"49730a5a-fe5b-4e08-b326-a5401beb5a95","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1632,1504],"id":"bac3e041-b03d-42a0-bbf4-456b547f652a"},{"parameters":{"httpMethod":"POST","path":"add-products","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[960,1456],"id":"67f8c7b7-02d2-4388-8463-74671f138ee0","name":"Update Product Trigger","webhookId":"45149083-9ac4-4508-9e43-8b3189fee0c9"},{"parameters":{"path":"order-success","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1312,640],"id":"45b7d14c-b3bd-484b-a247-a88134d00e26","name":"Webhook1","webhookId":"9490b60c-6c70-4a38-bd79-24296f2acb10"},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1536,640],"id":"3685452d-9635-4c4f-9aa4-612f21ee3f81","name":"Send a message4","webhookId":"d2753d2a-b3c7-48fb-8e48-01a0a6341471","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Auto Reply Contact":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Auto Reply Contact2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"New Products","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update Product Trigger":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Send a message4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ec490cd-de02-451d-855b-d5a5d26adfbb","triggerCount":6,"shared":[{"updatedAt":"2025-11-20T14:21:25.227Z","createdAt":"2025-11-20T14:21:25.227Z","role":"workflow:owner","workflowId":"dpWY7hSj5msKa0Z6","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}