hoan-workflow-dpWY7hSj5msKa0Z6.json
{"updatedAt":"2025-11-29T07:10:17.142Z","createdAt":"2025-11-20T14:21:25.227Z","id":"dpWY7hSj5msKa0Z6","name":"Hoan-Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,800],"id":"bb5dc4b9-f9c3-41fd-bc21-79dec676c62e","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    c.id as cart_id,\n    u.email,\n    u.first_name,\n    GROUP_CONCAT(p.name SEPARATOR ', ') as product_list\nFROM carts c\nJOIN users u ON c.user_id = u.id\nJOIN cart_product ci ON c.id = ci.cart_id\nJOIN products p ON ci.product_id = p.id\nWHERE c.flag = 0  -- (Mình đoán bạn có where clause này dựa trên ảnh)\nAND c.updated_at <= NOW() - INTERVAL 2 DAY -- Đã qua 2 ngày (48 tiếng)\nGROUP BY c.id, u.email, u.first_name;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-144,800],"id":"b8ebe768-c945-48f1-8527-e9f3328bbe97","name":"Execute a SQL query","credentials":{"mySql":{"id":"1qREm3CeLE8kssyv","name":"Hoàn mysql"}}},{"parameters":{"httpMethod":"POST","path":"deploy-success","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,464],"id":"61880c05-c944-4d71-ad5c-df8ae8c52f6a","name":"Webhook","webhookId":"bec2db4f-2203-4115-ae61-1ea0c4373f8d"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,800],"id":"c7d6a40b-2742-4d64-a9de-da02413efe38","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[240,1072],"id":"1dbeca11-d10c-4480-9da6-c5c1a00f2568"},{"parameters":{"sendTo":"={{ $('Execute a SQL query').item.json.email }}","subject":"Hasaki Clone: Bạn quên chưa thanh toán giỏ hàng nè!","message":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Đừng bỏ lỡ sản phẩm trong giỏ hàng</title>\n    <style>\n        /* Reset CSS cơ bản cho Email */\n        body { margin: 0; padding: 0; background-color: #f3f4f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }\n        table { border-collapse: collapse; width: 100%; }\n        img { display: block; border: 0; outline: none; text-decoration: none; }\n        \n        /* Mobile Responsive */\n        @media only screen and (max-width: 600px) {\n            .container { width: 100% !important; }\n            .product-img { width: 80px !important; height: 80px !important; }\n            .content-padding { padding: 20px !important; }\n        }\n    </style>\n</head>\n<body style=\"background-color: #f3f4f6; padding: 40px 0;\">\n\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\">\n                <table class=\"container\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n                    \n                    <tr>\n                        <td bgcolor=\"#32b768\" align=\"center\" style=\"padding: 20px;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">\n                                HASAKI CLONE\n                            </h1>\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td class=\"content-padding\" style=\"padding: 40px 30px;\">\n                            <h2 style=\"color: #333333; margin-top: 0; text-align: center;\">Bạn để quên đồ nè! 👀</h2>\n                            <p style=\"color: #666666; font-size: 16px; line-height: 24px; text-align: center; margin-bottom: 30px;\">\n                                Chào <strong>{{ $json.first_name }}</strong>,<br>\n                                Chúng tôi nhận thấy bạn chưa hoàn tất đơn hàng. Các sản phẩm yêu thích vẫn đang nằm trong giỏ và chờ bạn rước về đấy!\n                            </p>\n\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border: 1px solid #eeeeee; border-radius: 8px; overflow: hidden;\">\n                                \n                                <tr bgcolor=\"#f9fafb\">\n                                    <th align=\"left\" style=\"padding: 10px 15px; color: #666666; font-size: 12px; text-transform: uppercase;\">Sản phẩm</th>\n                                </tr>\n\n                                <tr>\n                                    <td style=\"padding: 15px; border-bottom: 1px solid #eeeeee;\">\n                                        <p style=\"color: #333333; font-size: 15px; font-weight: bold; margin: 0 0 5px;\">\n                                            {{ $json.product_list }} \n                                            </p>\n                                        <p style=\"color: #999999; font-size: 13px; margin: 0;\">\n                                            Các sản phẩm tuyệt vời đang chờ bạn!\n                                        </p>\n                                    </td>\n                                </tr>\n\n                            </table>\n                            <div style=\"text-align: center; margin-top: 35px;\">\n                                <a href=\"https://hasaki-clone.io.vn/cart\" style=\"background-color: #32b768; color: #ffffff; text-decoration: none; padding: 14px 30px; border-radius: 50px; font-weight: bold; font-size: 16px; display: inline-block; box-shadow: 0 4px 6px rgba(50, 183, 104, 0.3);\">\n                                    Hoàn tất đơn hàng ngay\n                                </a>\n                            </div>\n\n                            <p style=\"text-align: center; color: #999999; font-size: 13px; margin-top: 25px;\">\n                                *Giá và tình trạng còn hàng có thể thay đổi.\n                            </p>\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td bgcolor=\"#f9fafb\" style=\"padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n                            <p style=\"color: #999999; font-size: 12px; margin: 0;\">\n                                &copy; 2025 Hasaki Clone. All rights reserved.\n                            </p>\n                            <p style=\"color: #999999; font-size: 12px; margin: 5px 0 0;\">\n                                <a href=\"#\" style=\"color: #32b768; text-decoration: none;\">Hủy đăng ký</a> | \n                                <a href=\"#\" style=\"color: #32b768; text-decoration: none;\">Liên hệ hỗ trợ</a>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                </td>\n        </tr>\n    </table>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[320,784],"id":"a1040baf-d968-41be-bf8e-4a3bac0f45ec","name":"Send a message1","webhookId":"60536ddc-90ac-475c-862a-63fc73cf5105","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE carts \nSET is_reminder_sent = 1 \nWHERE id = {{ $('Loop Over Items').item.json.cart_id }};","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[528,784],"id":"5942c920-e7d6-484a-85ca-881cb1af84ee","name":"Execute a SQL query1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"httpMethod":"POST","path":"ai-review-reply","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,1584],"id":"2b3d0643-351a-4a2a-b1b6-b952264bad07","name":"Auto Reply Review","webhookId":"2041b4d3-cbbd-4699-8e9d-4d68295af432"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-304,1584],"id":"9a990c3d-0e47-475c-8c1b-5a79f0aa31b7","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-320,1776],"id":"6e1b3949-89e9-468b-8b60-9e1064ddb635","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"GdEPn4m9ziudLImC","name":"Hoàn Gemini"}}},{"parameters":{"method":"POST","url":"https://api.hasaki-clone.io.vn/api/reviews/ai-reply","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n   \"review_id\": {{ $node[\"Webhook\"].json[\"body\"][\"review_id\"] }},\n   \"reply_content\": {{ $json[\"message\"][\"content\"] }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,1584],"id":"0ea2784e-9816-45b0-9027-c0a47d4f7caf","name":"HTTP Request"},{"parameters":{"sendTo":"hoanle0126@gmail.com","subject":"CI/CD Hoàn tất","message":"=<!DOCTYPE html> <html> <head>     <meta charset=\"utf-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>DEPLOYMENT SUCCESS</title>     <style>         /* Email Reset CSS (Inline CSS là ưu tiên) */         body { margin: 0; padding: 0; background-color: #f3f4f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }         table { border-collapse: collapse; width: 100%; }         td, th { padding: 10px; }     </style> </head> <body style=\"background-color: #f3f4f6; padding: 40px 0;\">      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">         <tr>             <td align=\"center\">                 <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">                                          <tr>                         <td bgcolor=\"#32b768\" align=\"center\" style=\"padding: 20px;\">                             <h1 style=\"color: #ffffff; margin: 0; font-size: 26px; text-transform: uppercase;\">                                 DEPLOYMENT SUCCESS                             </h1>                         </td>                     </tr>                      <tr>                         <td style=\"padding: 30px 30px 10px; text-align: center;\">                             <h2 style=\"color: #333333; margin-top: 0;\">{{ $json.body.message }}</h2>                             <p style=\"color: #666666; font-size: 15px;\">                                 Mã nguồn mới đã được triển khai lên Server thành công.                             </p>                         </td>                     </tr>                      <tr>                         <td style=\"padding: 10px 30px 30px;\">                             <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border: 1px solid #eeeeee; border-radius: 8px; font-size: 14px;\">                                 <tr>                                     <th align=\"left\" width=\"30%\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333;\">Trạng thái</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #32b768; font-weight: bold;\">Hoàn tất ✅</td>                                 </tr>                                 <tr>                                     <th align=\"left\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">Người kích hoạt</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">{{ $json.body.author }}</td>                                 </tr>                                 <tr>                                     <th align=\"left\" style=\"background-color: #f9fafb; padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">Thời gian</th>                                     <td align=\"left\" style=\"padding: 10px 15px; color: #333333; border-top: 1px solid #eeeeee;\">{{ new Date() }}</td>                                 </tr>                             </table>                         </td>                     </tr>                      <tr>                         <td bgcolor=\"#f9fafb\" style=\"padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">                             <p style=\"color: #999999; font-size: 12px; margin: 0;\">                                 <a href=\"https://hasaki-clone.io.vn/\" style=\"color: #32b768; text-decoration: none;\">Xem website</a> |                                  <a href=\"https://github.com/hoanle0126/HasakiClone/actions\" style=\"color: #32b768; text-decoration: none;\">Xem log CI/CD</a>                             </p>                         </td>                     </tr>                 </table>             </td>         </tr>     </table>  </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-176,464],"id":"82c0b068-b61c-43bc-b9c6-8d2f274aae3b","name":"Send a message","webhookId":"d779f2e4-2543-4574-a51c-abb10f5e4df0","credentials":{"gmailOAuth2":{"id":"zZZnQa30lK4qvO70","name":"Gmail account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Auto Reply Review":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96f215e2-b567-4b21-bdfb-42daab0f48ce","triggerCount":3,"shared":[{"updatedAt":"2025-11-20T14:21:25.227Z","createdAt":"2025-11-20T14:21:25.227Z","role":"workflow:owner","workflowId":"dpWY7hSj5msKa0Z6","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}