huy-ewQDAHc3O4kHkNWN.json
{"updatedAt":"2025-12-05T04:38:55.324Z","createdAt":"2025-11-19T15:06:36.544Z","id":"ewQDAHc3O4kHkNWN","name":"Huy","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}\n\ndanh sách sản phẩm đã được lấy ra từ db:{{ $json.concatenated_data }}\n  \n","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-368,-16],"id":"a843eeb9-4ddd-4acf-ae26-41d0f379994b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1904,160],"id":"797b1b96-aaf2-41b0-b0dc-0342b18617be","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2752,-320],"id":"77d8c424-5289-45bd-98a3-58b8153a97ad","name":"When clicking ‘Execute workflow’"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2096,-112],"id":"419cff5e-428a-4f9c-98f3-27ef8bda22dc","name":"Telegram Trigger","webhookId":"cdd1fb06-db4c-4915-b406-2c3b138edde4","credentials":{"telegramApi":{"id":"SY5qbR6SjqYSv0Sf","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-32,0],"id":"621c139f-8446-4e1b-a6fd-c976639c651d","name":"Send a text message","webhookId":"dd4b943d-3098-4572-9a94-d4e2de7679ab","credentials":{"telegramApi":{"id":"SY5qbR6SjqYSv0Sf","name":"Telegram account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[128,-304],"id":"373cbacd-30a7-4eb9-a7a3-e63b69847cc3","name":"Select rows from a table","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"thumbnail","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-304],"id":"62047799-37c3-4245-888f-99b541300026","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[544,-304],"id":"2629d3f8-97db-4930-8e1d-74502641e66d","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[752,-304],"id":"d267c6f9-9806-402d-a892-e70dcbff34ad","name":"Summarize"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"product","mode":"list","cachedResultName":"product"},"options":{"pineconeNamespace":"product_list"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[960,-304],"id":"3639759c-a293-47ba-bc6e-b7c81fa3567e","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"CR2xiVORia4GPuOA","name":"PineconeApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[880,-128],"id":"71ed4237-f5e9-44e4-8f96-17a3e81e6716","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1104,-96],"id":"2cc8a76f-ee09-4af1-85c4-28b2c7a92c51","name":"Default Data Loader"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"returnAll":true,"where":{"values":[{"column":"name","condition":"LIKE","value":"%Sửa rửa mặt%"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2432,-320],"id":"d4a6a151-05c6-4f8b-bd3b-28e54ded6f33","name":"Select rows from a table1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-272,192],"id":"65d4abfd-2d58-4520-958b-20a1a13d8ccf","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"-bạn là database manager của 1 cửa hàng mỹ phẩm, việc của bạn là phân tích yêu cầu của người dùng. \n-đầu ra là tên sản phẩm hoặc giá và số lượng cần tìm , nếu user ko cung cấp số lượng , mặc định là 10. field nào ko có thì để là null ví dụ \"null|5|null\"\n-giá luôn parse về số nguyên ví dụ \"700.000\" thành 700000\n\nđầu ra phải luôn tuân thủ dạng \"tên sản phẩm|số lượng|giá\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1840,-112],"id":"9baec142-e019-4831-ab46-80932473bf99","name":"AI Agent1"},{"parameters":{"jsCode":"// Lấy toàn bộ output của agent (thường là item.json)\nconst input = $input.first().json;\n\n// Agent output dạng: \"tên sản phẩm | số lượng | giá\"\nconst raw = Object.values(input)[0] ?? \"\";\n\n// Tách theo ký tự |\nconst parts = raw.split(\"|\").map(v => v?.trim());\n\n// Gán giá trị\nlet productRaw = parts[0] || \"null\";\nlet limitRaw   = parts[1] || null;\nlet priceRaw   = parts[2] || null;\n\n// Xử lý số lượng (mặc định 10 nếu không có hoặc lỗi)\nlet limit = null;\nif (limitRaw === null || limitRaw === \"\" || isNaN(Number(limitRaw))) {\n  limit = 10;\n} else {\n  limit = Number(limitRaw);\n}\n\n// Xử lý giá (chuyển thành số nguyên)\n// Nếu priceRaw = null hoặc rỗng → để null\nlet price = null;\nif (priceRaw && priceRaw !== \"null\") {\n  // xóa mọi ký tự không phải số\n  const cleaned = priceRaw.replace(/[^\\d]/g, \"\");\n  price = cleaned ? Number(cleaned) : null;\n}\n\n// Trả về JSON chuẩn\nreturn [\n  {\n    json: {\n      product: productRaw === \"\" ? \"null\" : productRaw,\n      limit,\n      price\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,-112],"id":"af0852c6-fdc8-4982-be47-54c57fd0ce06","name":"Code in JavaScript"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"fieldsToSplitBy":"comma","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,-16],"id":"76282c81-2249-4f0f-b968-96b68606324e","name":"Summarize1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-736,-16],"id":"e3d1b50f-0cc2-46c3-972c-687c29df928c","name":"Aggregate1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccdb31e7-c988-4b59-b6ea-8b3f051a54de","leftValue":"={{ $json.product }}","rightValue":"null","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,-112],"id":"06af5713-ba7c-490d-b187-1767b66e00e7","name":"If"},{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-992,-288],"id":"fb6e3a00-ba8b-4f43-8eae-ec66605a9e00","name":"AI Agent2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-672,-128],"id":"459548e6-4eb3-4ac0-931d-bed0510fa760","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-2688,-32],"id":"febc6b35-5e5c-4204-8463-549f6e2bfe72","name":"When chat message received","webhookId":"09b424a8-b142-45d5-857d-8079f49b077a"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1712,208],"id":"6b517524-b27f-44f5-9cbe-e5e4de5717be","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40dd7c84-407b-47d4-bca2-908468a7fad7","leftValue":"={{ $('Code in JavaScript').item.json.price }}","rightValue":"null","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,0],"id":"17f03c67-eee3-404b-ab65-70c26a3b53ac","name":"If1"},{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}\n\ndanh sách sản phẩm đã được lấy ra từ db:{{ $json.concatenated_data }}\n  \n","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-832,240],"id":"1e8c87be-6173-491b-8492-031760260a41","name":"AI Agent3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-736,480],"id":"d8e58051-8c3b-46f2-82f9-9bd12519e84a","name":"Simple Memory3"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":"={{ $json.limit }}","where":{"values":[{"column":"name","condition":"LIKE","value":"=%{{ $json.product }}%"}]},"options":{"outputColumns":["name","quantity","price","sales"]}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1456,240],"id":"33e79207-5ef4-41a1-b157-aafdcbf20b0a","name":"Select rows from a table3","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"fieldsToSplitBy":"comma","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-1056,240],"id":"126dd28d-643e-41dc-b27b-74246cdb6627","name":"Summarize2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1264,240],"id":"b53de4a1-69dc-4488-9ca9-521fe77716c0","name":"Aggregate2"},{"parameters":{"operation":"executeQuery","query":"SELECT name, quantity, price, sales\nFROM products\nWHERE LOWER(name) LIKE '%{{ $('Code in JavaScript').item.json.product | lower }}%'\n  AND price BETWEEN ({{ $('Code in JavaScript').item.json.price }} - 100000)\n                  AND ({{ $('Code in JavaScript').item.json.price }} + 100000)\nORDER BY ABS(price - {{ $('Code in JavaScript').item.json.price }});\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-928,-16],"id":"6a5c7b7f-1428-42ea-b8e5-5bd5b33d84d2","name":"Execute a SQL query","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-384,512],"id":"077884c3-9adf-44b9-b33d-6eb865804bca","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-464,-320],"id":"05f21671-9091-4be6-9ed0-f74107c9ec83","name":"Send a text message1","webhookId":"dd4b943d-3098-4572-9a94-d4e2de7679ab","credentials":{"telegramApi":{"id":"SY5qbR6SjqYSv0Sf","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[32,256],"id":"15baa710-e152-4fe0-b831-4feb1fa5a952","name":"Send a text message2","webhookId":"dd4b943d-3098-4572-9a94-d4e2de7679ab","credentials":{"telegramApi":{"id":"SY5qbR6SjqYSv0Sf","name":"Telegram account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Select rows from a table":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Select rows from a table1":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"AI Agent2":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"Select rows from a table3","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Select rows from a table3":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent3":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4a6d12d-0356-4bb0-a5ff-a2fcae56fa23","triggerCount":2,"shared":[{"updatedAt":"2025-11-19T15:06:36.544Z","createdAt":"2025-11-19T15:06:36.544Z","role":"workflow:owner","workflowId":"ewQDAHc3O4kHkNWN","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}