tuan-7OxVlGMm1ggwq6uD.json
{"updatedAt":"2025-11-28T14:06:29.960Z","createdAt":"2025-11-17T06:37:35.690Z","id":"7OxVlGMm1ggwq6uD","name":"Tuan","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[176,-192],"id":"6730b241-b28e-411a-a4a5-a19ea2231b41","name":"Get products","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"promptType":"define","text":"=Dựa trên thông tin sản phẩm dưới đây, hãy viết nội dung bán hàng chuẩn Facebook, văn phong rõ ràng, thuyết phục, không mở đầu bằng các câu khen ngợi hoặc giới thiệu chung chung. Không được viết các đoạn kiểu “Dựa trên dữ liệu sản phẩm”, “Tuyệt vời”, “Đây là nội dung”, hoặc bất kỳ câu mào đầu nào.\n\nThông tin sản phẩm:\n- ID: {{ $json[\"id\"] }}\n- Tên sản phẩm: {{ $json[\"name\"] }}\n- Giá: {{ $json[\"price\"] }}\n- Hướng dẫn sử dụng: {{ $json[\"guide\"] }}\n- Mô tả: {{ $json[\"description\"] }}\n\nYêu cầu:\n1. Viết nội dung bán hàng tối ưu cho Facebook.\n2. Không dài dòng, không rườm rà, không mào đầu cảm thán.\n3. Nhấn mạnh công dụng, lợi ích và lý do nên mua.\n4. Bố cục sạch sẽ, dễ đọc.\n5. Cuối bài kêu gọi inbox hoặc đặt hàng.\n6. Trả về đúng định dạng JSON:\n\n{\n  \"url\": {{ $json[\"images\"] }}\n  \"id_product\": {{ $json[\"id\"] }},\n  \"product_name\": \"{{ $json[\"name\"] }}\",\n  \"content\": \"<nội dung quảng cáo>\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[352,-144],"id":"47f443fa-94cc-44cb-82f5-b7851b7950af","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,64],"id":"8b19443b-865a-4b5f-afc2-1c84e2009059","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"jsCode":"return items.map(item => {\n    let data;\n    try {\n        data = typeof item.json.output === 'string' \n            ? JSON.parse(item.json.output.replace(/```json|```/g, '').trim()) \n            : item.json.output;\n    } catch (e) {\n        console.error(\"JSON parse error:\", e);\n        return null;\n    }\n\n    return {\n        json: {\n            id_product: data.id_product || null,\n            product_name: data.product_name || null,\n            content: data.content || null,\n            url: Array.isArray(data.url) && data.url.length > 0 ? data.url[0] : null\n        }\n    };\n}).filter(x => x !== null);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-160],"id":"439d41a3-5cbc-42cb-9aa6-162b385a3376","name":"Normalize for post"},{"parameters":{"respondWith":"noData","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,944],"id":"f7dcebb3-a0cd-4836-9a7b-4206d46a039f","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{$json.user_message}}","options":{"systemMessage":"=Bạn là trợ lý mua sắm AI. Tin nhắn khách hàng là: Bạn là trợ lý mua sắm AI. Tin nhắn khách hàng là: {{$json.user_message}}\n\nTrước khi trả lời, hãy luôn kiểm tra câu hỏi khách hàng thuộc danh mục nào dựa trên cột category_name trong Products.\nChỉ gợi ý các sản phẩm có trong Products thuộc danh mục đó. Không tự tạo sản phẩm ngoài danh sách.\n\nXưng hô “em chào anh/chị” và giới thiệu mình là trợ lý mua sắm AI. Giao tiếp ngắn gọn, thân thiện, hướng khách đến việc mua hàng.\n\nNếu câu hỏi không thuộc bất kỳ danh mục nào có trong category_name của Products, trả lời nhẹ nhàng:\n“Hiện tại em chỉ có thể giới thiệu các sản phẩm trong các danh mục hiện có, anh/chị có muốn em gợi ý không ạ?”\n\n\nTrước khi trả lời, hãy luôn kiểm tra câu hỏi khách hàng thuộc danh mục nào dựa trên cột category_name trong Products.\nChỉ gợi ý các sản phẩm có trong Products thuộc danh mục đó. Không tự tạo sản phẩm ngoài danh sách.\n\nXưng hô “em chào anh/chị” và giới thiệu mình là trợ lý mua sắm AI. Giao tiếp ngắn gọn, thân thiện, hướng khách đến việc mua hàng.\n\nNếu câu hỏi không thuộc bất kỳ danh mục nào có trong category_name của Products, trả lời nhẹ nhàng:\n“Hiện tại em chỉ có thể giới thiệu các sản phẩm trong các danh mục hiện có, anh/chị có muốn em gợi ý không ạ?”\nChú ý quan trọng: Hãy trả lời trong 1 dòng duy nhất, không dùng xuống dòng hoặc ký tự \\n."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[448,960],"id":"6eaa1718-7a7a-4c90-acf5-d02eb2b9162d","name":"AI Reply mess"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[432,1216],"id":"71873662-b8b7-4f32-b32b-8e22ad2d04ee","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/me/messages","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output.split('\\\\\\\\n').join(' ') }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,1008],"id":"71f85863-b3bb-435f-835f-0dec4e65a41a","name":"HTTP Request","credentials":{"facebookGraphApi":{"id":"ncxzkKt5skZJPTGO","name":"Facebook Graph account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    products.*,          \n    categories.name AS category_name  \nFROM products\nJOIN categories ON products.categories_id = categories.id\nLIMIT 100;\n","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[1088,1200],"id":"1d88f532-b32c-4d91-bcb0-cbad48c3c244","name":"Products","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user_message\": \"{{ $json.body.entry[0].messaging[0].message.text }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,1136],"id":"8f2aaa74-1385-42e6-9786-9ff85dcaf657","name":"User message"},{"parameters":{"multipleMethods":true,"path":"5e0e407f-c605-428e-9574-79aafe64df4e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,1056],"id":"f566bf19-ea37-4270-8a83-b4acb01fd3a4","name":"Webhook","webhookId":"5e0e407f-c605-428e-9574-79aafe64df4e"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/768492989686800/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"={{ $json.json.content }}"},{"name":"access_token","value":"EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW"},{"name":"url","value":"={{ $json.json.url }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,160],"id":"9105296b-7715-42aa-8987-6f2c31525614","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-208],"id":"4b44ae44-9029-41a8-a61b-901d7021afe1","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"id_product","valueToMatchOn":"={{ $json.id_product }}","valuesToSend":{"values":[{"column":"product_name","value":"={{ $json.product_name }}"},{"column":"content","value":"={{ $json.content }}"},{"column":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[912,-160],"id":"a856954f-762d-4c5e-92d0-ed06522965da","name":"Save Post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1024,208],"id":"7998b38e-788a-48e6-b1d9-7b344101b569","name":"Get post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,160],"id":"4ce94cab-9778-4db9-9ff9-ac38beb96685","name":"Schedule Trigger"},{"parameters":{"jsCode":"// sort theo tương tác tổng = comment + react\nconst sorted = items.sort((a, b) => {\n  const aScore = (a.json.comment || 0) + (a.json.react || 0);\n  const bScore = (b.json.comment || 0) + (b.json.react || 0);\n  return bScore - aScore;\n});\n\n// lấy top 5 sản phẩm\nconst top5 = sorted.slice(0, 5);\n\n// chọn ngẫu nhiên 1 sản phẩm\nconst randomIndex = Math.floor(Math.random() * top5.length);\nreturn [{ json: top5[randomIndex] }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,208],"id":"8e6f322d-96a4-4974-8daa-dccaf3d1f863","name":"Extract code for post"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,496],"id":"3bc2f077-769b-4bbc-892e-2834ed07f156","name":"Save"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2576,288],"id":"0eee8d89-c7fa-45c8-9bf6-326417ee287c","name":"Merge"},{"parameters":{"jsCode":"const items = $input.all();\n\n// item 0: chứa post_id\nconst fb = items[0].json;\n\n// item 1: chứa json của sản phẩm\nconst product = items[1];\n\n// clone để tránh mất dữ liệu\nconst newItem = JSON.parse(JSON.stringify(product));\n\n// cập nhật post_id\nnewItem.json.post_id = fb.post_id;\nnewItem.json.status = \"yes\";\n// tạo facebook_url từ post_id\nnewItem.json.facebook_url = fb.post_id\n    ? `https://www.facebook.com/${fb.post_id}`\n    : null;\n\n// trả đúng cấu trúc đầy đủ\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,288],"id":"1123a081-299a-4c36-bd05-5a2390176f6b","name":"Code in JavaScript"},{"parameters":{"operation":"update","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"=id_product","valueToMatchOn":"={{ $json.json.id_product }}","valuesToSend":{"values":[{"column":"post_id","value":"={{ $json.post_id }}"},{"column":"status","value":"={{ $json.status }}"},{"column":"facebook_url","value":"={{ $json.facebook_url }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3120,208],"id":"17fb0cbd-3d5f-4100-90fc-b92c9c7a3de8","name":"Update post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"post_id","valueToMatchOn":"={{ $json.id }}","valuesToSend":{"values":[{"column":"comment","value":"={{ $json.comments.summary.total_count }}"},{"column":"react","value":"={{ $json.reactions.summary.total_count }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1856,880],"id":"65f925a6-4024-43ce-8a10-425c8bbffbe9","name":"Update post1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,640],"id":"f92f929b-9260-40e8-bf84-e47dde4daf06","name":"Schedule Trigger3"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"limit":10,"where":{"values":[{"column":"status","value":"yes"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1088,608],"id":"cd88211b-38f5-4fe2-ae8a-8e936204a65e","name":"Get post2","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"url":"=https://graph.facebook.com/{{ $json.post_id }}?fields=reactions.summary(true),comments.summary(true),shares&access_token=EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW","options":{}},"name":"Get Facebook Reactions1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1744,560],"id":"158a5c8a-a1c2-4a89-907a-4d70d80fc54e"},{"parameters":{"functionCode":"return items.map(item => {\n  const reactions = item.json.reactions?.summary?.total_count || 0;\n  const comments = item.json.comments?.summary?.total_count || 0;\n  const shares = item.json.shares?.count || 0;\n  item.json.total_interactions = reactions + comments + shares;\n  return item;\n});"},"name":"Calculate Total Interactions1","type":"n8n-nodes-base.function","typeVersion":1,"position":[1968,672],"id":"75e592a6-53fc-4050-b8c2-49ce0e080a10"},{"parameters":{"jsCode":"// items là mảng JSON bạn nhận được từ node trước\nlet output = [];\n\nitems.forEach(item => {\n  // Nếu dữ liệu đã là mảng post (như ví dụ bạn gửi), mỗi phần tử là 1 item\n  output.push({ json: item.json });\n});\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,560],"id":"2eab1af1-63a7-4553-9cac-06f6fd6af473","name":"Code in JavaScript1","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1488,576],"id":"e03ed9ce-9426-4689-8d50-29b56c6b342e","name":"Loop Over Items1","alwaysOutputData":true}],"connections":{"Get products":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Normalize for post","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Reply mess","type":"ai_languageModel","index":0}]]},"AI Reply mess":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Products":{"ai_tool":[[{"node":"AI Reply mess","type":"ai_tool","index":0}]]},"User message":{"main":[[{"node":"AI Reply mess","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"User message","type":"main","index":0}]]},"Normalize for post":{"main":[[{"node":"Save Post","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get products","type":"main","index":0}]]},"Get post":{"main":[[{"node":"Extract code for post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get post","type":"main","index":0}]]},"Extract code for post":{"main":[[{"node":"Save","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"Save":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update post","type":"main","index":0}]]},"Update post1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Get post2","type":"main","index":0}]]},"Get post2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Get Facebook Reactions1":{"main":[[{"node":"Calculate Total Interactions1","type":"main","index":0}]]},"Calculate Total Interactions1":{"main":[[{"node":"Update post1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get Facebook Reactions1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"34bf5d58-9765-4aa7-b5c0-95a8d9cb7901","triggerCount":3,"shared":[{"updatedAt":"2025-11-17T06:37:35.690Z","createdAt":"2025-11-17T06:37:35.690Z","role":"workflow:owner","workflowId":"7OxVlGMm1ggwq6uD","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}