tuan-7OxVlGMm1ggwq6uD.json
{"updatedAt":"2025-12-05T14:11:27.787Z","createdAt":"2025-11-17T06:37:35.690Z","id":"7OxVlGMm1ggwq6uD","name":"Tuan","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[176,-192],"id":"6730b241-b28e-411a-a4a5-a19ea2231b41","name":"Get products","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"promptType":"define","text":"=Dựa trên thông tin sản phẩm dưới đây, hãy viết nội dung bán hàng chuẩn Facebook, văn phong rõ ràng, thuyết phục, không mở đầu bằng các câu khen ngợi hoặc giới thiệu chung chung. Không được viết các đoạn kiểu “Dựa trên dữ liệu sản phẩm”, “Tuyệt vời”, “Đây là nội dung”, hoặc bất kỳ câu mào đầu nào.\n\nThông tin sản phẩm:\n- ID: {{ $json[\"id\"] }}\n- Tên sản phẩm: {{ $json[\"name\"] }}\n- Giá: {{ $json[\"price\"] }}\n- Hướng dẫn sử dụng: {{ $json[\"guide\"] }}\n- Mô tả: {{ $json[\"description\"] }}\n\nYêu cầu:\n1. Viết nội dung bán hàng tối ưu cho Facebook.\n2. Không dài dòng, không rườm rà, không mào đầu cảm thán.\n3. Nhấn mạnh công dụng, lợi ích và lý do nên mua.\n4. Bố cục sạch sẽ, dễ đọc.\n5. Cuối bài kêu gọi inbox hoặc đặt hàng.\n6. Trả về đúng định dạng JSON:\n\n{\n  \"url\": {{ $json[\"images\"] }}\n  \"id_product\": {{ $json[\"id\"] }},\n  \"product_name\": \"{{ $json[\"name\"] }}\",\n  \"content\": \"<nội dung quảng cáo>\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[352,-144],"id":"47f443fa-94cc-44cb-82f5-b7851b7950af","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,64],"id":"8b19443b-865a-4b5f-afc2-1c84e2009059","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sYGcJL3Js7rTqMxR","name":"Tuan gemini"}}},{"parameters":{"jsCode":"return items.map(item => {\n    let data;\n    try {\n        data = typeof item.json.output === 'string' \n            ? JSON.parse(item.json.output.replace(/```json|```/g, '').trim()) \n            : item.json.output;\n    } catch (e) {\n        console.error(\"JSON parse error:\", e);\n        return null;\n    }\n\n    return {\n        json: {\n            id_product: data.id_product || null,\n            product_name: data.product_name || null,\n            content: data.content || null,\n            url: Array.isArray(data.url) && data.url.length > 0 ? data.url[0] : null\n        }\n    };\n}).filter(x => x !== null);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-160],"id":"439d41a3-5cbc-42cb-9aa6-162b385a3376","name":"Normalize for post"},{"parameters":{"respondWith":"noData","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[528,848],"id":"f7dcebb3-a0cd-4836-9a7b-4206d46a039f","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}\n","options":{"systemMessage":"=Bạn là trợ lý mua sắm AI. Tin nhắn khách hàng là:{{ $json.userMessage }}.\nTrước khi trả lời, hãy xác định danh mục câu hỏi dựa trên trường category_name trong dữ liệu Products.\nChỉ được gợi ý các sản phẩm có trong Products thuộc đúng danh mục.\nKhông được tự tạo sản phẩm ngoài danh sách.\n\nCách trả lời:\n\nMở đầu bằng “em chào anh/chị, em là trợ lý mua sắm AI”.\n\nGiao tiếp ngắn gọn, thân thiện, hướng khách đến việc mua hàng.\n\nNếu MySQL trả về nhiều sản phẩm, phải dùng tất cả sản phẩm đó.\n\nGộp tất cả sản phẩm vào một câu duy nhất, ngăn cách bằng dấu phẩy.\n\nKhông được bỏ bớt, tóm tắt hoặc chỉ chọn 1 sản phẩm.\n\nKhông dùng xuống dòng, không dùng ký tự \\n.\n\nNếu câu hỏi không thuộc bất kỳ category_name nào, trả lời đúng mẫu:\n“Hiện tại em chỉ có thể giới thiệu các sản phẩm trong các danh mục hiện có, anh/chị có muốn em gợi ý không ạ?”\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[704,1008],"id":"6eaa1718-7a7a-4c90-acf5-d02eb2b9162d","name":"AI Reply mess"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[448,1264],"id":"71873662-b8b7-4f32-b32b-8e22ad2d04ee","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/me/messages","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ JSON.stringify($json.output).slice(1, -1) }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1104,1008],"id":"71f85863-b3bb-435f-835f-0dec4e65a41a","name":"HTTP Request","credentials":{"facebookGraphApi":{"id":"ncxzkKt5skZJPTGO","name":"Facebook Graph account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT JSON_ARRAYAGG(\n    JSON_OBJECT(\n        'id', p.id,\n        'name', p.name,\n        'price', p.price,\n        'categories_id', p.categories_id,\n        'category_name', c.name\n    )\n) AS products\nFROM (\n    SELECT \n        p.*,\n        ROW_NUMBER() OVER (PARTITION BY p.categories_id ORDER BY p.id) AS rn\n    FROM products p\n) p\nJOIN categories c ON p.categories_id = c.id\nWHERE p.rn <= 3;\n","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[784,1248],"id":"1d88f532-b32c-4d91-bcb0-cbad48c3c244","name":"Products","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"multipleMethods":true,"path":"5e0e407f-c605-428e-9574-79aafe64df4e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,976],"id":"f566bf19-ea37-4270-8a83-b4acb01fd3a4","name":"Webhook","webhookId":"5e0e407f-c605-428e-9574-79aafe64df4e"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/768492989686800/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"={{ $json.json.content }}"},{"name":"access_token","value":"EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW"},{"name":"url","value":"={{ $json.json.url }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,160],"id":"9105296b-7715-42aa-8987-6f2c31525614","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-208],"id":"4b44ae44-9029-41a8-a61b-901d7021afe1","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"id_product","valueToMatchOn":"={{ $json.id_product }}","valuesToSend":{"values":[{"column":"product_name","value":"={{ $json.product_name }}"},{"column":"content","value":"={{ $json.content }}"},{"column":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[912,-160],"id":"a856954f-762d-4c5e-92d0-ed06522965da","name":"Save Post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1024,208],"id":"7998b38e-788a-48e6-b1d9-7b344101b569","name":"Get post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,160],"id":"4ce94cab-9778-4db9-9ff9-ac38beb96685","name":"Schedule Trigger"},{"parameters":{"jsCode":"// sort theo tương tác tổng = comment + react\nconst sorted = items.sort((a, b) => {\n  const aScore = (a.json.comment || 0) + (a.json.react || 0);\n  const bScore = (b.json.comment || 0) + (b.json.react || 0);\n  return bScore - aScore;\n});\n\n// lấy top 5 sản phẩm\nconst top5 = sorted.slice(0, 5);\n\n// chọn ngẫu nhiên 1 sản phẩm\nconst randomIndex = Math.floor(Math.random() * top5.length);\nreturn [{ json: top5[randomIndex] }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,208],"id":"8e6f322d-96a4-4974-8daa-dccaf3d1f863","name":"Extract code for post"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,496],"id":"3bc2f077-769b-4bbc-892e-2834ed07f156","name":"Save"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2576,288],"id":"0eee8d89-c7fa-45c8-9bf6-326417ee287c","name":"Merge"},{"parameters":{"jsCode":"const items = $input.all();\n\n// item 0: chứa post_id\nconst fb = items[0].json;\n\n// item 1: chứa json của sản phẩm\nconst product = items[1];\n\n// clone để tránh mất dữ liệu\nconst newItem = JSON.parse(JSON.stringify(product));\n\n// cập nhật post_id\nnewItem.json.post_id = fb.post_id;\nnewItem.json.status = \"yes\";\n// tạo facebook_url từ post_id\nnewItem.json.facebook_url = fb.post_id\n    ? `https://www.facebook.com/${fb.post_id}`\n    : null;\n\n// trả đúng cấu trúc đầy đủ\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,288],"id":"1123a081-299a-4c36-bd05-5a2390176f6b","name":"Code in JavaScript"},{"parameters":{"operation":"update","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"=id_product","valueToMatchOn":"={{ $json.json.id_product }}","valuesToSend":{"values":[{"column":"post_id","value":"={{ $json.post_id }}"},{"column":"status","value":"={{ $json.status }}"},{"column":"facebook_url","value":"={{ $json.facebook_url }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3120,208],"id":"17fb0cbd-3d5f-4100-90fc-b92c9c7a3de8","name":"Update post","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"dataMode":"defineBelow","columnToMatchOn":"post_id","valueToMatchOn":"={{ $json.id }}","valuesToSend":{"values":[{"column":"comment","value":"={{ $json.comments.summary.total_count }}"},{"column":"react","value":"={{ $json.reactions.summary.total_count }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1856,880],"id":"65f925a6-4024-43ce-8a10-425c8bbffbe9","name":"Update post1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,640],"id":"f92f929b-9260-40e8-bf84-e47dde4daf06","name":"Schedule Trigger3"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"facebook_post","mode":"list","cachedResultName":"facebook_post"},"limit":10,"where":{"values":[{"column":"status","value":"yes"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1088,608],"id":"cd88211b-38f5-4fe2-ae8a-8e936204a65e","name":"Get post2","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"url":"=https://graph.facebook.com/{{ $json.post_id }}?fields=reactions.summary(true),comments.summary(true),shares&access_token=EAAMYpjEsqI8BQO4dMPYweTo18UCQniBGTvVkIEKyTPOaxoZBPmdmEwZBFYjoU1GxPUQ5fDfDmPDFzHq8UZBATRLl0tBRFyrix9FY7jH3M9y1h3TP4kdB0OROcYVfcsIPZBHMxkR6tGUEUpeK5vRZADigPBxXkZBXZCFEoZAwS0CTczvN4d2bshrgTbRMqfK1BZCy3LsZAW","options":{}},"name":"Get Facebook Reactions1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1744,560],"id":"158a5c8a-a1c2-4a89-907a-4d70d80fc54e"},{"parameters":{"functionCode":"return items.map(item => {\n  const reactions = item.json.reactions?.summary?.total_count || 0;\n  const comments = item.json.comments?.summary?.total_count || 0;\n  const shares = item.json.shares?.count || 0;\n  item.json.total_interactions = reactions + comments + shares;\n  return item;\n});"},"name":"Calculate Total Interactions1","type":"n8n-nodes-base.function","typeVersion":1,"position":[1968,672],"id":"75e592a6-53fc-4050-b8c2-49ce0e080a10"},{"parameters":{"jsCode":"// items là mảng JSON bạn nhận được từ node trước\nlet output = [];\n\nitems.forEach(item => {\n  // Nếu dữ liệu đã là mảng post (như ví dụ bạn gửi), mỗi phần tử là 1 item\n  output.push({ json: item.json });\n});\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,560],"id":"2eab1af1-63a7-4553-9cac-06f6fd6af473","name":"Code in JavaScript1","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1488,576],"id":"e03ed9ce-9426-4689-8d50-29b56c6b342e","name":"Loop Over Items1","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Bạn là trợ lý mua sắm AI. Tin nhắn khách hàng là: {{ $json.chatInput }}.\nTrước khi trả lời, hãy xác định danh mục câu hỏi dựa trên trường category_name trong dữ liệu Products1.\nChỉ được gợi ý các sản phẩm có trong Products1 thuộc đúng danh mục.\nKhông được tự tạo sản phẩm ngoài danh sách.\n\nCách trả lời:\n\nMở đầu bằng “em chào anh/chị, em là trợ lý mua sắm AI”.\n\nGiao tiếp ngắn gọn, thân thiện, hướng khách đến việc mua hàng.\n\nNếu MySQL trả về nhiều sản phẩm, phải dùng tất cả sản phẩm đó.\n\nGộp tất cả sản phẩm vào một câu duy nhất, ngăn cách bằng dấu phẩy.\n\nKhông được bỏ bớt, tóm tắt hoặc chỉ chọn 1 sản phẩm.\n\nKhông dùng xuống dòng, không dùng ký tự \\n.\n\nNếu câu hỏi không thuộc bất kỳ category_name nào, trả lời đúng mẫu:\n“Hiện tại em chỉ có thể giới thiệu các sản phẩm trong các danh mục hiện có, anh/chị có muốn em gợi ý không ạ?”"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[544,1456],"id":"f36e1ced-7afd-4daa-9c4b-7549723f1d2b","name":"AI Reply mess1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[496,1744],"id":"0b1ecb6e-4105-4aab-9229-8657e20c6e32","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT JSON_ARRAYAGG(\n    JSON_OBJECT(\n        'id', p.id,\n        'name', p.name,\n        'price', p.price,\n        'categories_id', p.categories_id,\n        'category_name', c.name\n    )\n) AS products\nFROM (\n    SELECT \n        p.*,\n        ROW_NUMBER() OVER (PARTITION BY p.categories_id ORDER BY p.id) AS rn\n    FROM products p\n) p\nJOIN categories c ON p.categories_id = c.id\nWHERE p.rn <= 3;\n","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[928,1808],"id":"4d31fb9c-2d11-4b7d-8f76-5b195f19ece3","name":"Products1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[928,2960],"id":"0c0d62a5-a86a-4248-8577-0a5b4fb3f6cb","name":"When chat message received","webhookId":"5fdb4ca5-8e16-4aa2-a9dd-8b2f6363ecf0"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      userMessage: $input.first().json.body.entry[0].messaging[0].message.text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,1072],"id":"6d930239-4d93-463a-b13f-17b7d59c2cfd","name":"Code in JavaScript2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1104,1408],"id":"4f9a0586-fc22-457c-95a5-b6eebc12d175","name":"Schedule Trigger1"},{"parameters":{"operation":"executeQuery","query":"SELECT JSON_ARRAYAGG(\n    JSON_OBJECT(\n        'id', p.id,\n        'name', p.name,\n        'price', p.price,\n        'categories_id', p.categories_id,\n        'guide',p.guide,\n        'images',p.images,\n        'category_name', c.name\n    )\n) AS products\nFROM (\n    SELECT \n        p.*,\n        ROW_NUMBER() OVER (PARTITION BY p.categories_id ORDER BY p.id) AS rn\n    FROM products p\n) p\nJOIN categories c ON p.categories_id = c.id\nWHERE p.rn <= 3;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1424,1328],"id":"8b4852f9-ecfd-4e54-b665-e2b0fdf35b17","name":"Execute a SQL query","credentials":{"mySql":{"id":"1qREm3CeLE8kssyv","name":"Hoàn mysql"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1840,1328],"id":"a2b75269-5d14-4ea3-93f8-a6bd43e2f7af","name":"Aggregate"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":1,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1424,1552],"id":"b75421b3-f2f0-4e46-a8bf-4f4145f9b31e","name":"Select rows from a table","credentials":{"mySql":{"id":"1qREm3CeLE8kssyv","name":"Hoàn mysql"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2048,1328],"id":"b48a431d-945b-472a-bf5d-667bb2d0f2d4","name":"Summarize"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n-ck","mode":"list","cachedResultName":"n8n-ck"},"options":{"pineconeNamespace":"product_list"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2256,1328],"id":"9fde8511-1378-44d1-89ad-59228218417b","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"8wLqTqaxDkb6H645","name":"PineconeApi Tuan"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2400,1536],"id":"46187691-0e2b-422f-8ac4-c29d0fe14ffb","name":"Default Data Loader"},{"parameters":{"chunkOverlap":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2256,1696],"id":"0d1e30fb-5028-4a3d-b75f-9113f2c2b9df","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"dimensions":512}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2096,1584],"id":"46fca454-e1f4-4152-b314-be958c1708fb","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"6SYZU1R0gSxUX6XT","name":"OpenAi Tuan"}}},{"parameters":{"assignments":{"assignments":[{"id":"f9df051b-90ea-4e63-95db-5edac45ba249","name":"products[0].categories_id","value":"={{ $json.products[0].categories_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1328],"id":"44afb183-6f51-4169-9afa-fe3eb56ffe6d","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2976,3296],"id":"01532da8-b789-4480-943b-30a439ce69fe","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"-bạn là database manager của 1 cửa hàng mỹ phẩm, việc của bạn là phân tích yêu cầu của người dùng. \n-đầu ra là tên sản phẩm hoặc giá và số lượng cần tìm , nếu user ko cung cấp số lượng , mặc định là 10. field nào ko có thì để là null ví dụ \"null|5|null\"\n-giá luôn parse về số nguyên ví dụ \"700.000\" thành 700000\n\nđầu ra phải luôn tuân thủ dạng \"tên sản phẩm|số lượng|giá\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1408,2992],"id":"4fdea8a0-c699-4cfd-888a-a1a644079586","name":"AI Agent1"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"fieldsToSplitBy":"comma","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2704,3088],"id":"bdb549e4-dd4d-4d67-bad7-5093d1bfd16a","name":"Summarize1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2512,3088],"id":"dce4769a-8f50-4fdb-8213-9679eb7afd5c","name":"Aggregate1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccdb31e7-c988-4b59-b6ea-8b3f051a54de","leftValue":"={{ $json.product }}","rightValue":"null","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,2992],"id":"da227332-9ef0-483b-85be-b00b59a68f32","name":"If"},{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2256,2816],"id":"3d04584e-81b8-4797-850d-61f553890fdb","name":"AI Agent2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2576,2976],"id":"79117391-e6c6-4f0a-b4d5-4a73984c632b","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1536,3312],"id":"24cee881-7cc6-44f9-8b32-8c9e1ffbe36e","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40dd7c84-407b-47d4-bca2-908468a7fad7","leftValue":"={{ $('Code in JavaScript3').item.json.price }}","rightValue":"null","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2096,3104],"id":"b506fce2-3f63-42c5-bb3e-f536c32c8458","name":"If1"},{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}\n\ndanh sách sản phẩm đã được lấy ra từ db:{{ $json.concatenated_data }}\n  \n","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2416,3344],"id":"2cdc66c2-1674-4e6e-9e72-91dd7268c416","name":"AI Agent3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2512,3584],"id":"5637b3eb-ba84-4586-9753-3c793f601462","name":"Simple Memory3"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":"={{ $json.limit }}","where":{"values":[{"column":"name","condition":"LIKE","value":"=%{{ $json.product }}%"}]},"options":{"outputColumns":["name","quantity","price","sales"]}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1792,3344],"id":"dbc72810-7d1f-413a-9894-c83a0d60afb3","name":"Select rows from a table3","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"fieldsToSplitBy":"comma","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2192,3344],"id":"c90d6c44-c914-4470-9ff5-dc9df165efcb","name":"Summarize2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1984,3344],"id":"d9b122fb-0bbf-4075-b346-a273856552b9","name":"Aggregate2"},{"parameters":{"promptType":"define","text":"=User' Message:{{ $('When chat message received').item.json.chatInput }}\n\ndanh sách sản phẩm đã được lấy ra từ db:{{ $json.concatenated_data }}\n  \n","options":{"systemMessage":"=Bạn là trợ lý bán hàng chuyên nghiệp của cửa hàng mỹ phẩm.\n\nNHIỆM VỤ CHÍNH:\n- Cung cấp thông tin chính xác về TẤT CẢ sản phẩm tìm được\n- Trả lời bằng tiếng Việt thân thiện, ngắn gọn\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2880,3088],"id":"aa627419-a003-4531-a70a-0451e6e8a19a","name":"AI Agent4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1344,3264],"id":"0bf02cba-48c9-4e93-82f3-4b87e9986b48","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"limit":10,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3376,2800],"id":"398313d4-c84e-4a2b-9d96-4c545ee8662f","name":"Select rows from a table1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"jsCode":"// Lấy toàn bộ output của agent (thường là item.json)\nconst input = $input.first().json;\n\n// Agent output dạng: \"tên sản phẩm | số lượng | giá\"\nconst raw = Object.values(input)[0] ?? \"\";\n\n// Tách theo ký tự |\nconst parts = raw.split(\"|\").map(v => v?.trim());\n\n// Gán giá trị\nlet productRaw = parts[0] || \"null\";\nlet limitRaw   = parts[1] || null;\nlet priceRaw   = parts[2] || null;\n\n// Xử lý số lượng (mặc định 10 nếu không có hoặc lỗi)\nlet limit = null;\nif (limitRaw === null || limitRaw === \"\" || isNaN(Number(limitRaw))) {\n  limit = 10;\n} else {\n  limit = Number(limitRaw);\n}\n\n// Xử lý giá (chuyển thành số nguyên)\n// Nếu priceRaw = null hoặc rỗng → để null\nlet price = null;\nif (priceRaw && priceRaw !== \"null\") {\n  // xóa mọi ký tự không phải số\n  const cleaned = priceRaw.replace(/[^\\d]/g, \"\");\n  price = cleaned ? Number(cleaned) : null;\n}\n\n// Trả về JSON chuẩn\nreturn [\n  {\n    json: {\n      product: productRaw === \"\" ? \"null\" : productRaw,\n      limit,\n      price\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,2992],"id":"2d56ba8e-4811-4196-9fe1-32523d0875cc","name":"Code in JavaScript3"},{"parameters":{"operation":"executeQuery","query":"SELECT name, quantity, price, sales\nFROM products\nWHERE LOWER(name) LIKE '%{{ $('Code in JavaScript').item.json.product | lower }}%'\n  AND price BETWEEN ({{ $('Code in JavaScript').item.json.price }} - 100000)\n                  AND ({{ $('Code in JavaScript').item.json.price }} + 100000)\nORDER BY ABS(price - {{ $('Code in JavaScript').item.json.price }});\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,3088],"id":"dd7c2864-8732-4c71-9995-d5a8196254e5","name":"Execute a SQL query1","credentials":{"mySql":{"id":"Qjk1m3dQqqXihwQQ","name":"tuan mysql"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2864,3616],"id":"d79e092b-553d-4c1a-bea3-eae8b71ac799","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"1mPEsrbboMIuzP5m","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Get products":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Normalize for post","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Reply mess","type":"ai_languageModel","index":0}]]},"AI Reply mess":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Products":{"ai_tool":[[{"node":"AI Reply mess","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Normalize for post":{"main":[[{"node":"Save Post","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get products","type":"main","index":0}]]},"Get post":{"main":[[{"node":"Extract code for post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get post","type":"main","index":0}]]},"Extract code for post":{"main":[[{"node":"Save","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"Save":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update post","type":"main","index":0}]]},"Update post1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Get post2","type":"main","index":0}]]},"Get post2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Get Facebook Reactions1":{"main":[[{"node":"Calculate Total Interactions1","type":"main","index":0}]]},"Calculate Total Interactions1":{"main":[[{"node":"Update post1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get Facebook Reactions1","type":"main","index":0}]]},"AI Reply mess1":{"main":[[]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Reply mess1","type":"ai_languageModel","index":0}]]},"Products1":{"ai_tool":[[{"node":"AI Reply mess1","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"AI Reply mess","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Select rows from a table","type":"main","index":0},{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent4","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"AI Agent2":{"main":[[]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Select rows from a table3","type":"main","index":0}]]},"AI Agent3":{"main":[[]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Select rows from a table3":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"AI Agent4":{"main":[[]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent4","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4fcf62b-029a-4e67-8064-556f0a8d1184","triggerCount":5,"shared":[{"updatedAt":"2025-11-17T06:37:35.690Z","createdAt":"2025-11-17T06:37:35.690Z","role":"workflow:owner","workflowId":"7OxVlGMm1ggwq6uD","projectId":"3xgLYEcJBzGbh9ol"}],"tags":[]}